div#countdown.countdown(data-time="January 14 2019 00:00:00 GMT+0000", data-aos="fade-up", data-aos-delay="300")
  div.countdown__item
    div.days
    div.countdown__label Days
  div.countdown__item
    div.hours
    div.countdown__label Hours
  div.countdown__item
    div.minutes
    div.countdown__label Minutes
  div.countdown__item
    div.seconds
    div.countdown__label Seconds
