.socials {
  @include bp($mobile) {
    justify-content: space-between;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__item {    
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    width: 24px;
    height: 24px; 
    margin-right: 16px; 
     
    
    &:last-child {
      margin-right: 0;
    }
    
    i {
      font-size: 24px;
      transition: .3s; 
    }

    &:hover {
      i {
        color: $color-blue;
      }   
    }
  }
}
