nav.socials
  a.socials__item(href="?", target="_blank", data-aos="fade-up", data-aos-delay="200")
    i.icon_telegram
  a.socials__item(href="?", target="_blank", data-aos="fade-up", data-aos-delay="300")
    i.icon_facebook
  a.socials__item(href="?", target="_blank", data-aos="fade-up", data-aos-delay="400")
    i.icon_twitter
  a.socials__item(href="?", target="_blank", data-aos="fade-up", data-aos-delay="500")
    i.icon_instagram