mixin accordionItem(title,text)
    .accordion__item.js-accordion-item
        .accordion-header.js-accordion-header
            h4=title
            .accordion-icon
        .accordion-body.js-accordion-body
            .accordion-body__contents
                p=text