div.lang
  div.lang__head      
    span.lang__text English
  ul.lang__items  
    li.lang__item
      a(href='/en.html')#en English
    li.lang__item
      a(href='/cn.html')#cn 简体中文
    li.lang__item
      a(href='/tw.html')#tw 繁體中文
    li.lang__item
      a(href='/jp.html')#jp 日本語
    li.lang__item
      a(href='/kr.html')#kr 한국어