header.header
  a.header__logo(href="#", name="index.html", data-aos="fade", data-aos-delay="200")
    img(src=imgUrl+"logo.svg", alt="#{i18n.common.projectName}")

  div.header__burger(data-aos="fade", data-aos-delay="300")
    include ../../../icons/menu-icon.html
