$desktop: '(min-width: 992px) and (max-width: 1365px)';

$tablet: '(min-width: 769px) and (max-width: 991px)';

$mobile: '(max-width: 768px)';


$container: 1142px;
$desktop-container: 960px;
$tablet-container: 720px;
$ipad-container: 540px;
$container-padding: 0 24px;
$container-padding-mob: 0 32px;
