-
 //Japanese
 var i18n = {
    common: {
        language: 'Jp',
        projectName: 'Faireum',
        copyright: '© 2018-2021 Faireum. 無断複製禁止',
        privacyPolicy: 'プライバシーポリシー',
        useTerms: '利用規約',
        whitelist: 'ホワイトリストに参加する',
        whitepaper: '白書',
        back: '戻る',
        scroll: 'スクロール',
        inputs: {
            submit: '提出する',
            name: '名前',
            email: 'E-mail',
            message: 'メッセージ',
        },
        titles: {
            home: 'ホーム',
            about: 'Faireumについて',
            business: 'ビジネス',
            problem: '問題',
            solution: 'ソリューション',
            sale: 'トークン',
            roadmap: 'ロードマップ',
            partners: 'パートナー',
            team: 'チーム',
            faq: 'よくある質問 ',
            contact: 'お問い合わせ',
            subscribe: '購読する',
        }
    },
    module: {
        promo: {
            sologan1: 'Once Fair',
            sologan2: 'Always Fair',
            sologanRemark: 'みんなで公正なギャンブルブロックチェーンネットワーク',
            saleBegin: '公売開始',
            cube1: 'キューブ1',
            cube2: 'キューブ2',
            cube3: 'キューブ3',
            cube4: 'キューブ4',
            cube5: 'キューブ5',
            cube6: 'キューブ6',
        },
        about: {
            whatFaireum: 'Faireumとは',
            explainFaireum1: 'Faireumは、ギャンブル業界に焦点を当てたパブリックブロックチェーンと多くのプロトコルであり、分散化され、コストが低く、透明でかつ安全なベット及びギャンブル経験を提供します。',
            explainFaireum2: 'Faireumは、独自のトークンとゲームコントラクトを使用してユーザーに優れたプレミアムベット経験を保証し、宝くじ、競馬、スポーツギャンブル、カジノゲーム、デジタルゲームなど様々なサービスを提供します。',
            explainFaireum3: 'Faireumノードとプロトコルと一緒に動作するスマートクライアントの使用でユーザーに安全でシームレスでいつでも楽しめるギャンブル経験を与えてくれます。',
            basicFramework: '基本フレームワーク',
            explainBasicFramework1: 'Faireumは、Faireumプラットフォームに堅実な技術基盤を提供するために、業界レベルのパブリックブロックを独自開発しています。',
            explainBasicFramework2: 'Faireumブロックチェーンは、元帳ノード、P2Pネットワーキング、スマートコントラクト向けの仮想マシン、トークンの補償、支払いゲートウェイ、デジタル資産交換及びクロスチェーンアトミックスワップを含むトークン分配に関する規定を網羅しています。',
            gamesOnFaireum: 'Faireumブロックチェーンでプレイできるゲーム',
            gamesLottery: '宝くじ',
            gamesCasino: 'カジノ',
            gamesDigital: 'デジタルゲーム',
            gamesBetting: 'スポーツギャンブル',
            gamesLotteryRemark: '宝くじは、賞金を懸けて数字を引くギャンブルの一種です。',
            gamesCasinoRemark: 'カジノは、様々なギャンブル活動が行われ、顧客は運に左右されるゲームでギャンブルを行います。',
            gamesDigitalRemark: 'デジタルゲームは観戦スポーツとして競技レベルに到達し、完全に新しいコンセプトになっています。',
            gamesBettingRemark: 'スポーツギャンブルは、スポーツ競技の結果を予測し、その結果に賭ける活動を含みます。'
        },

    }
 }
