-
    //简体中文
    var i18n = {
        common: {
            language: 'Cn',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum 版权所有',
            privacyPolicy: '隐私政策',
            useTerms: '服务条款',
            whitelist: '加入白名单',
            whitepaper: '白皮书',
            back: '返回',
            scroll: '滑动',
            inputs: {
                submit: '提交',
                name: '姓名',
                email: '邮箱',
                message: '消息',
            },
            titles: {
                home: '首页',
                about: '简介',
                business: '业务',
                problem: '行业问题',
                solution: '解决方案',
                sale: '代币',
                roadmap: '路线图',
                partners: '合作伙伴',
                team: '团队',
                faq: '常见问题',
                contact: '联系我们',
                subscribe: '订阅',
            },
        },

    }
