-
    //English
    var i18n = {
        common: {
            language: 'En',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum. All rights reserved',
            privacyPolicy: 'Privacy policy',
            useTerms: 'Terms of Use',
            whitelist: 'Join Whitelist',
            whitepaper: 'Whitepaper',
            back: 'Back',
            scroll: 'Scroll',
            inputs: {
                submit: 'Submit',
                name: 'Name',
                email: 'E-mail',
                message: 'Message',
            },
            titles: {
                home: 'Home',
                about: 'About',
                business: 'Business',
                problem: 'Problems',
                solution: 'Solution',
                sale: 'Token',
                roadmap: 'Roadmap',
                partners: 'Partners',
                team: 'Team',
                faq: 'FAQ',
                contact: 'Contact',
                subscribe: 'Subscribe',
            },
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: 'A Fair Gambling Blockchain Network for All',
                saleBegin: 'Public Sale Begins:',
                cube1: 'Cube 1',
                cube2: 'Cube 2',
                cube3: 'Cube 3',
                cube4: 'Cube 4',
                cube5: 'Cube 5',
                cube6: 'Cube 6',
            },
            about: {
                whatFaireum: 'What is Faireum',
                explainFaireum1: 'Faireum is a public blockchain and a set of protocols which focus on the gambling industry and provides a decentralized, low cost, transparent and secure betting and gambling experience.',
                explainFaireum2: 'Faireum uses its own token,game contract to guarantee to its users a superb and premium betting experience and services in lottery,horse betting,sports betting,casino games and digital games,etc.',
                explainFaireum3: 'As well as to use a Faireum node,a smart client which works together with the protocols to giving the user a safe,seamless,always-online experience to play all the games they would like to.',
                basicFramework: 'Basic Framework',
                explainBasicFramework1: 'Faireum develops its own industry level public blockchain to provide a solid technological basis for our platform.',
                explainBasicFramework2: 'The Faireum blockchain encompasses the ledger nodes, P2P networking, a virtual machine for Smart Contract and a set of rules for the token distribution, which includes the token reward, payment gateway, digital asset exchange and cross chain atomic swap.',
                gamesOnFaireum: 'Games on Faireum Blockchain',
                gamesLottery: 'Lottery',
                gamesCasino: 'Casino',
                gamesDigital: 'Digital Games',
                gamesBetting: 'Sports Betting',
                gamesLotteryRemark: 'A lottery is a type of gambling where numbers are drawn for a prize.',
                gamesCasinoRemark: 'A casino accommodates a variety of gambling activities, customers gamble by playing games of chance.',
                gamesDigitalRemark: 'Digital games having reached a competitive level as a spectator sport is an entirely new concept.',
                gamesBettingRemark: 'Sports betting involves predicting the results of a sporting event and placing a wager on its outcome.',
            },
            business: {
                smartNode: 'Smart Node in Faireum',
                explainSmartNode1: 'The Faireum Smart Node(FSN) is a blockchain node running on the user\'s computer/phone, which can provide both wallet function as a client and proxy function as a server.',
                explainSmartNode2: 'Working as a Node Service.',
                explainSmartNode3: 'Working as a Client Service integration.',
                explainSmartNode4: 'Working as a wallet or a game center.',
                explainSmartNode5: 'Work for Smart Node Partners and Work as Smart Exchange',
            },
            problems: {
                subTitle: 'Problems of the Betting Industry',
                transparency: 'Lack of safety and transparency',
                negative: 'Negative social reputation',
                unfair: 'Unfair odds',
                fees: 'High fees',
                security: 'Security',
                tax: 'Tax/Money laundering',
                transparencyRemark: 'Due to system/code designs, the centralized system never show his resources and it is difficult for the outsiders involving in the research and update the system.',
                negativeRemark: 'The direct experience of the players, especially for those in actual combat game or live game, is the strong feeling of uncertainty and the doubt on the counterparty.',
                unfairRemark: 'Nowadays, the rule of the most predictors is created by on-line gambling platforms on technology level, moreover the algorithm is not transparent. Those enable the platform to change the pseudo-random number or algorithm through adjustment of background parameter.',
                feesRemark: 'The profit model of gambling platforms makes high fees for gambling.Some Dapps on other public chain such as ethereum and eos also has same problems.',
                securityRemark: 'Centralized system could neither assure the security hundred percent nor possess the fault tolerance.',
                taxRemark: 'Technically the centralized system generates the ambiguous data and the fund flow. Meanwhile lots of the on-line gambling system do not accord with the local tax mechanism. Tax evasion and money laundering is breeding.',
            },
            solution: {
                explainSolution1: 'Faireum is a kind of platform blockchain with API that is suitable for third-party business providers to access through the consensus mechanism and the FVM. Faireum main blockchain will use the WASM virtual machine as the default run time for smart contract and BFT+ DPos as the consensus mechanism.',
                explainSolution2: 'The random number from Faireum blockchain is not just data that could be deduced from the program. Combined with the block hash and zero-knowledge proofs, our random number generator is not possible to be deduced or pre-estimated by any inverse. We refer to this algorithm as zero random algorithm (ZRA).',
                explainSolution3: 'In addition to ZRA algorithm, the Faireum blockchain is pre-configured with several other random number generators (RNG), including Faireum Random Digital (FRD) dedicated to digital games, and Faireum Random Casino (FRC) dedicated to casino games, and a dynamic probability balance index generator Faireum Dynamic Betting (FDB) preset for real-time results such as sports quizes.',
            },
            sale: {
                subTitle: 'Token Sale Details',
                subDescription: '2 billion FairCoin will be issued. Each FairCoin token will initially be mapped to one corresponding ERC20 token on the Ethereum ecosystem as the Faireum ecosystem is being developed.',
                tab1: 'Token ICO Plan',
                tab2: 'Token Distribution',
                textName: 'Token Name',
                textSymbol: 'Token Ticker Symbol',
                textType: 'Token Type',
                textIssuer: 'Token Issuer',
                textSupply: 'Max Supply',
                textExchange: 'Token Exchange',
                textPreICO: 'Pre ICO During',
                textPubICO: 'ICO During',
                textRemark: 'Token Features',
                valueName: 'Faireum Token',
                valueSymbol: 'FAIRC',
                valueType: 'Faireum Platform Token',
                valueIssuer: 'Faireum Foundation Limited',
                valueSupply: '2,000,000,000 FAIRC (Fixed, no dilution)',
                valueExchange: '1 ETH : 3000 FAIRC',
                valuePreICO: '2019.01.14 start, 2 Weeks',
                valuePubICO: '2019.03.01 start, 1 Month',
                valueRemark: 'Betting amongst platform users/investment/profit redemption/fee payments are converted to the value of Faireum tokens.',
                holderPrivate: 'Private (6 month locked)',
                holderPreICO: 'PreICO',
                holderPubICO: 'Public ICO',
                holderFundingPool: 'Game funding pool(Not for sale)',
                holderTeam: 'Team/Developer/Advisor',
                holderMarketing: 'Marketing/Partnership',
                holderFounder: 'Founder(12 month locked)',
            },
            roadmap: {
                p1: 'Q1-Q4 2017',
                p2: 'Q1-Q3 2018',
                p3: 'Q4 2018',
                p4: 'Q1 2019',
                p5: 'Q2 2019',
                p6: 'Q3 2019',
                p7: 'Q4 2019',
                p8: 'Q1 2020',
                p9: 'Q2 2020',
                p10: 'Q3-Q4 2020',
                p11: 'Q1 2021',
                p1Remark1: 'Market research, Competitors Analysis , idea of prototype.',
                p1Remark2: 'Preparations for Foundation,Legal Counsel and Gambling/lottery/game license.',
                p2Remark1: 'Completion of Private placement, angel funding.',
                p2Remark2: 'Intellectual Property Registration.',
                p2Remark3: 'Completion the White paper.',
                p3Remark1: 'Launching of New official website.',
                p3Remark2: 'Theoretical verification of Cross-chain, RNG based on ZKP,etc.',
                p3Remark3: 'Based on Ethereum, launching the development of the game protocol.',
                p3Remark4: 'Core consensus algorithm and public chain infrastructure design.',
                p4Remark1: 'PRE ICO and PUBLIC ICO.',
                p4Remark2: '[MVP]Faireum Chain prototype and block explorer.',
                p4Remark3: '[MVP]Faireum Chain Smart Node Client.',
                p4Remark4: '[MVP]Partial Game and Application development based on Faireum protocol.',
                p5Remark1: 'FairCoin listing on the exchange.',
                p5Remark2: 'Start test network development of Faireum Chain based on MVP code.',
                p5Remark3: 'Release alpha version of the game protocol',
                p5Remark4: 'Partial Faireum Games development based on alpha version of the game protocol',
                p6Remark1: 'Completion of Faireum data layer, P2P layer and consensus algorithm development.',
                p6Remark2: 'Faireum Smart Node Client Development.',
                p6Remark3: 'Partial Faireum Games release.',
                p7Remark1: 'Faireum Test network online.',
                p7Remark2: 'Release Beta version of the game.',
                p8Remark1: 'Optimize Faireum main network function based on test network code.',
                p8Remark2: 'Iterative development of the Faireum smart node client.',
                p9Remark1: 'Faireum smart contract virtual machine system design and development.',
                p9Remark2: 'Completion of Built-in random number core module development.',
                p10Remark1: 'Launch the Faireum mainchain.',
                p10Remark2: 'Release of the official version of the Faireum Smart Node Client.',
                p10Remark3: 'Release of the official version of the game contract.',
                p10Remark4: 'Completion of the Faireum ERC20 Token Mapping.',
                p11Remark1: 'Create a decentralized gaming industry data platform.',
                p11Remark2: 'Establish Faireum Gambing Incubation Fund.',
                p11Remark3: 'Start the construction of the Faireum decentralized industry alliance system.',
            },
            faq: {
                more: 'More FAQ',
                Q1: 'What is Faireum?',
                Q2: 'Why we need Faireum?',
                Q3: 'What is the protocol of Faireum?',
                Q4: 'How to ensure the fairness and transparency of Faireum?',
                Q5: 'How is the performance of Faireum?',
                Q6: 'What is the function of Faireum Token?',
                Q7: 'Whether Faireum supports the smart contract?',
                Q8: 'How to play games in Faireum?',
                Q9: 'What is Random Number Generator in Faireum?',
                Q10: 'Who are our competitors? And which is our advantage?',
                A1: 'Faireum is a public blockchain and a set of protocols which focus on the gambling industry and provides a decentralized, low cost, transparent and secure betting and gambling experience.',
                A2: 'Both traditional and centralized gaming have shortcomings in terms of transparency, processing efficiency, security, reliability, privacy and anonymity. Decentralized gaming can avoid these problems efficiently. but at present, the support from the popular public chain is limited and insufficient on the followings aspects, like processing efficiency, industry protocols, underlying capabilities, and RNG algorithms. Moreover, There is no good solution for asset disposal, the volatility of chips during the gaming, as well as the exchange of various assets. Faireum combines the security and transparency, distinctive features of public chain, and incorporates many original features such as diverse protocols, native capabilities, multiple algorithms, cross-chain asset swap, and capacity of parallel business expansion. We endeavor to build a public-chain ecosystem based on protocols of gaming industry, to be safe and fair, efficient in processing, stable of chip value and to support a variety industry models accompanied with capability of real-time exchange of various assets. Faireum public chain ecosystem is 100% contribute to the gaming industry.',
                A3: 'A protocol can be understood as a collection of attributes, rules, and definitions. It is an abstract representation of a set of common things or events. Everyone can extend specific functions, operations, implementations, etc. based on this foundation. Just as the common characteristics of human beings in nature can be abstracted into agreements, and each individual\'s independent character, ability, appearance, etc. is an extension of this agreement. In Faireum, the entire betting public chain ecosystem is built through these highly refined abstract protocols.',
                A4: 'As a decentralized public chain + protocol solution, Faireum guarantees the fairness and transparency of the whole system through the open source underlying framework, system framework and game contracts, while the state, data and settlement information in the game process are recorded on the blockchain. Public ledger records, these characteristics are inherently superior to the design of centralized systems. Compared with other decentralized systems or public chains, Faireum follows the standard of “random” and “transparent”, providing a purely random underlying chain from block generation, consensus algorithm, multi-layer structure to virtual machine design, which provides a number of templates and features that can serve the gaming industry. This makes Faireum be the most suitable ecosystem in the gaming industry.',
                A5: 'The performance of the first version of Faireum is expected to be over 3000 TPS through its double layer design and BFT+DPOS consensus algorithm in the main blockchain.',
                A6: 'Faireum Token will be the main circulating token for our gambling ecosystem. Accompanied with the functional improvement and the incorporation of partners, the application of Faireum Token will be diversified.',
                A7: 'Faireum integrates the the WASM virtual machine as a default smart contract run time environment. By supporting the WASM, most of the DApps and smart contracts written for Ethereum,EOS and other blockchain standards based on WASM can be migrated onto the Faireum blockchain easily through Faireum’s protocol converting tool.',
                A8: 'Faireum Smart Node can working as a game center, Players can browse the list of games from FSN and then launch/play the games. Once a game have been played and shared, both developer and player will get rewarded by the Faireum blockchain.',
                A9: 'Combined with the block hash and zero-knowledge proofs, our random number generator is not possible to be deduced or pre-estimated by any inverse. We refer to this algorithm as zero random algorithm (ZRA).',
                A10: 'We have several types of competitors: Blockchain Gambling Platforms(including Trueflip, Vdice, Casino.dao, FunFair), Blockchains(including Ethereum and Enterprise Operation System) and Other Online Games.The Faireum provide a solution for most problems on above platforms. With cash management and FairCash, users can play with real money.The FSN is the user friendly game centre dedicated to the gambling, lottery and guessing game formats; the average user can just download the app to their mobile phone or access through a browser to play the game instantly.The integrated B2B solution can provide a very flexible score and online chip system for Casino and online games.',
            },
            contact: {
                excerpt: 'Any question? Reach out to us and we’ll get back to you shortly.'
            }
        }
    }
