-
    //简体中文
    var i18n = {
        common: {
            language: 'Cn',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum 版权所有',
            privacyPolicy: '隐私政策',
            useTerms: '服务条款',
            whitelist: '加入白名单',
            whitepaper: '白皮书',
            back: '返回',
            scroll: '滑动',
            inputs: {
                submit: '提交',
                name: '姓名',
                email: '邮箱',
                message: '消息',
            },
            titles: {
                home: '首页',
                about: '简介',
                business: '业务',
                problem: '行业问题',
                solution: '解决方案',
                sale: '代币',
                roadmap: '路线图',
                partners: '合作伙伴',
                team: '团队',
                faq: '常见问题',
                contact: '联系我们',
                subscribe: '订阅',
            },
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: '下一代博彩行业公链解决方案',
                saleBegin: '公开发售时间:',
                cube1: '立方体1',
                cube2: '立方体2',
                cube3: '立方体3',
                cube4: '立方体4',
                cube5: '立方体5',
                cube6: '立方体6',
            },
            about: {
                whatFaireum: 'Faireum是什么',
                explainFaireum1: 'Faireum由一条公链和若干协议所组成，其专注于博彩行业并提供去中心化的、低成本、透明而又安全的投注和博彩服务。',
                explainFaireum2: '在Faireum区块链上，通过自有通证和智能游戏合约来保证用户在彩票、赛马投注、体育博彩和赌场游戏中获得优质的投注体验。',
                explainFaireum3: '除了Faireum节点之外，智能客户端将与诸多协议共同为用户提供安全、流畅的在线博彩体验。',
                basicFramework: '基础架构',
                explainBasicFramework1: 'Faireum开发了自己的行业级公有区块链，为博彩平台提供了坚实的技术基础和底层支撑。',
                explainBasicFramework2: 'Faireum区块链包括网络节点、P2P网络、智能合同虚拟机和一套令牌分发规则，包括令牌奖励、支付网关、数字资产交换和跨链原子交换。',
                gamesOnFaireum: 'Faireum区块链上的游戏',
                gamesLottery: '彩票',
                gamesCasino: '赌场',
                gamesDigital: '在线游戏',
                gamesBetting: '体育竞猜',
                gamesLotteryRemark: '彩票是博彩的一种类型，主要是通过数字组合形成的序列而确定最终的中奖结果的一种博彩方式。',
                gamesCasinoRemark: '赌场可以容纳各种各样的博彩活动和游戏，顾客通过赌场来进行基于概率论的博彩类游戏的赌博。',
                gamesDigitalRemark: '在线数字游戏作为一种互联网形式的可视化博彩类型，已经达到了可竞技级别的水平，和传统博彩方式相比较这是一种出现时间较短的新类型。',
                gamesBettingRemark: '体育竞猜包括预测体育赛事结果、各类体育赛事事件预测等，玩家可以对结果或者事件进行预测并进行下注进行博彩。',
            },
            business: {
                smartNode: 'Faireum智能节点',
                explainSmartNode1: 'Faireum智能节点(FSN)是在用户的电脑/手机上运行的区块链节点，它可以作为客户端的钱包、代理服务器、游戏中心获取其他角色参与生态运行。',
                explainSmartNode2: '可作为区块节点服务运行。',
                explainSmartNode3: '可作为客户端集成应用使用。',
                explainSmartNode4: '可以用作多链钱包或者游戏中心。',
                explainSmartNode5: '可以集成智能节点合作伙伴服务或者以智能交易所方式运行。',
            },
            problems: {
                subTitle: '博彩行业的问题',
                transparency: '缺乏安全和透明性',
                negative: '负面社会信誉',
                unfair: '赔率不公平',
                fees: '高收费',
                security: '安全性',
                tax: '税收/洗钱',
                transparencyRemark: '从系统设计和代码层面来说，中心化的系统往往是闭源的，外部人员很难参与系统的研发和迭代。',
                negativeRemark: '玩家的直接体验:在一些玩家实时对战类游戏中或者实景类游戏中，玩家对对手身份的不确定度和怀疑度普遍较高。',
                unfairRemark: '目前的许多在线博彩平台预言机规则从技术层面完全是由博彩平台生成，且算法不透明，这就导致了博彩平台/公司通过对后台参数配置或者动态修改随机数和随机数算法完全操控游戏结果。',
                feesRemark: '博彩平台的佣金模式导致了高收费。以太坊和EOS等公链上发布的博彩Dapps也存在类似问题。',
                securityRemark: '中心化系统既不能确保百分之百安全也不具备容错能力。',
                taxRemark: '从技术层面来说，因为中心化的设计导致系统的数据和实际在线博彩的法币资金流没有明确的账务清算。很多在线博彩在系统设计上也没有十分明确的符合当地法律法规的税务机制，导致许多非法避税或者洗钱行为的产生。',
            },
            solution: {
                explainSolution1: 'Faireum是提供第三方API的平台链，通过共识机制和FVM，第三方可以进入Faireum主链使用WASM的虚拟机默认运行智能合约，使用BFT+DPos混合共识作为共识机制。',
                explainSolution2: 'Faireum区块链之上的随机数不单单只是可被程序推导的数据项，因为在设计之初结合了区块哈希值和零知识证明的运用，使得随机数最终是不能被任何逆推导或者预先猜出。这套随机生成算法体系在Faireum区块链中被称为零随算法(ZRA)。',
                explainSolution3: '除了基本的ZRA算法外，Faireum还预置了其他多种类型的随机数生成器(RNG)，包括专用于数字类游戏的FRD(Faireum Random Digital),专用于赌场类游戏的FRC(Faireum Random Casino),以及为体育竞猜等实时结果预设的动态概率平衡指数生成器FDB(Faireum Dynamic Betting)等。每套内部随机生成算法都预定义了一套符合其上层游戏应用层业务逻辑的规则接口，使得各类型的随机数生成规则更加符合对应游戏类型的约束。',
            },
            sale: {
                subTitle: '代币销售细节',
                subDescription: 'FairCoin将发行20亿代币。在Faireum主网上线之前，以太坊上ERC20通证形态的Faircoin将和未来主网的Faireum代币按照1:1的比例进行等额绑定。',
                tab1: '代币ICO计划',
                tab2: '代币分配',
                textName: '代币名称',
                textSymbol: '代币代码',
                textType: '代币类型',
                textIssuer: '代币发行方',
                textSupply: '最大供应量',
                textExchange: '代币兑换比例',
                textPreICO: '预售ICO时间',
                textPubICO: '公开ICO时间',
                textRemark: '代币功能',
                valueName: 'Faireum Token',
                valueSymbol: 'FAIRC',
                valueType: 'Faireum平台代币',
                valueIssuer: 'Faireum Foundation Limited',
                valueSupply: '2,000,000,000 FAIRC (固定，不增发)',
                valueExchange: '1 ETH : 3000 FAIRC',
                valuePreICO: '2019年01月14日开始, 持续两周',
                valuePubICO: '2019年03月01日开始, 持续一个月',
                valueRemark: 'Faireum代币的主要价值提现在它是Faireum生态中用户之间的投注/投资/利润赎回/费用支付的主要流通媒介。',
                holderPrivate: '机构私募(6个月锁仓)',
                holderPreICO: '预售ICO',
                holderPubICO: '公开ICO',
                holderFundingPool: '奖励资金池(非售)',
                holderTeam: '团队/开发者/顾问',
                holderMarketing: '市场推广/伙伴关系',
                holderFounder: '创始人(12个月锁仓)',
            },
            roadmap: {
                p1: '2017全年',
                p2: '2018年1-3季度',
                p3: '2018年四季度',
                p4: '2019年一季度',
                p5: '2019年二季度',
                p6: '2019年三季度',
                p7: '2019年四季度',
                p8: '2020年一季度',
                p9: '2020年二季度',
                p10: '2020年3-4季度',
                p11: '2021年一季度',
                p1Remark1: '市场调查，竞品分析，初代产品设计',
                p1Remark2: '基金会、法律顾问、博彩/彩票/游戏牌照相关筹备',
                p2Remark1: '私募完成，首轮融资结束',
                p2Remark2: '知识产权登记',
                p2Remark3: '完成白皮书',
                p3Remark1: '新版官网上线',
                p3Remark2: '跨链、零知识证明随机算法等理论验证',
                p3Remark3: '基于以太坊，启动游戏合约协议的开发',
                p3Remark4: '核心共识算法和公链底层结构设计',
                p4Remark1: '预售募资',
                p4Remark2: '公开募资',
                p4Remark3: '[MVP]Faireum雏形及区块浏览器',
                p4Remark4: '[MVP]Faireum智能节点客户端',
                p5Remark1: 'FairCoin上线交易所',
                p5Remark2: '基于MVP代码开始Faireum Chain的测试网开发',
                p5Remark3: '发布alpha版本的游戏合约协议',
                p5Remark4: '基于alpha版本的部分Faireum Games开发',
                p6Remark1: 'Faireum底层数据层、P2P层以及共识算法开发完成',
                p6Remark2: 'Faireum智能节点客户端开发',
                p6Remark3: '部分Faireum Games发布',
                p7Remark1: 'Faireum测试网上线',
                p7Remark2: '发布Beta版本的游戏合约协议',
                p8Remark1: '基于测试网代码优化Faireum主网功能',
                p8Remark2: '迭代开发Faireum智能节点客户端',
                p9Remark1: 'Faireum智能合约虚拟机体系设计与开发',
                p9Remark2: '内置随机数核心模块开发完成',
                p10Remark1: 'Faireum Chain主网上线',
                p10Remark2: '发布正式版本的Faireum智能节点客户端',
                p10Remark3: '发布正式版本的游戏合约协议',
                p10Remark4: '完成Faireum ERC20代币主网映射',
                p11Remark1: '打造去中心化博彩行业数据平台',
                p11Remark2: '成立Faireum博彩孵化基金',
                p11Remark3: '开始Faireum去中心化行业联盟体系建设',
            },
            faq: {
                more: '更多问题',
                Q1: 'Faireum是什么?',
                Q2: '为什么需要Faireum?',
                Q3: 'Faireum中的协议是什么?',
                Q4: 'Faireum怎么保证公平性和透明性?',
                Q5: 'Faireum的性能如何?',
                Q6: 'Faireum代币的作用?',
                Q7: 'Faireum是否支持智能合约?',
                Q8: '怎么进行Faireum游戏?',
                Q9: 'Faireum的随机数生成器(RNG)算法是什么?',
                Q10: '主要竞争对手是哪些？有何优势?',
                A1: 'Faireum由一条公链和若干协议所组成，其专注于博彩行业并提供去中心化的、低成本、透明而又安全的投注和博彩服务。',
                A2: '从透明、处理效率、安全、可靠性、私密性和匿名性上来说，传统和中心化博彩都存在种种缺点。去中心化博彩能解决透明和隐私等多方面问题，但是目前主流公链在针对博彩行业的支持特性上。不论从处理效率，还是针对行业协议、基础能力以及随机算法等等方面的支持力度都十分疲弱。 而针对资产的处置、设置以及博彩过程中筹码的波动性，以及对于游戏体验中各类资产的交换处置并没有很好的方案。 Faireum结合了主流公链安全透明等显著特点，融入了多样的协议、原生能力、行业算法、跨链资产能力以及平行业务扩容能力等许多独创的特性。着力打造一个基于行业协议约束的安全公正透明、处理效率极快、筹码价值稳定、支持多种独特行业模式并且支持各类资产实时兑换的公链生态体系。用以打造100%服务于博彩行业的Faireum公链生态。',
                A3: 'Faireum中的协议可以理解为一系列属性、规则和定义的集合，它是一系列共性事物或事件的抽象表示，所有人都能根据这一基础扩展具体的功能、操作、实现等。如同自然界中人类具备的共有特性便可抽象为协议，而每个个体独立的性格、能力、外表等等都是这一协议的扩展。而Faireum中通过这些高度精炼的抽象协议，构建了整个博彩公链生态体系。',
                A4: 'Faireum作为一套去中心化的公链+协议解决方案，通过开源底层框架、系统框架以及游戏合约保证整个体系的公平透明，而游戏过程中的状态、数据、结算信息等都由区块链公开账本记录，这些特性天生优于中心化系统的设计。而对比其他去中心化系统或公链，Faireum从区块的产生、共识算法、多层结构以及虚拟机的设计都遵循“随机”“透明”至上的特性，提供了一套纯随机的底层链和协议，并提供了许多能服务于博彩行业的模板和特性，使得Faireum成为最适合用于博彩行业的生态体系。',
                A5: '得益于Faireum的双层链结构设计和主链中使用的BFT+DPOS混合共识算法，Faireum首个发布版本的性能预计将超过3000TPS。',
                A6: 'Fairuem代币将作为我们博彩生态系统的主要流通货币，可以用来游戏、购买增值服务和用于资产交换。随着Faireum生态伙伴的不断引入，会有更多的代币所具备的功能和用途在Faireum生态中被提供。',
                A7: 'Faireum基于WASM体系作为虚拟机的默认智能合约运行环境。因为这样一套体系，大多数基于WASM标准的(如以太坊、EOS)DApps和智能合约能很容易的通过Faireum协议转换工具迁移到Faireum。',
                A8: 'Faireum智能节点可以以游戏中心的形式运行，用户可以使用FSN来浏览和运行发布于Faireum区块链上的游戏。一旦一个游戏被用户运行或分享，用户和游戏的开发者都能得到Faireum区块链预设的奖励机制的激励。',
                A9: 'Faireum区块链之上的随机数不单单只是可被程序推导的数据项，因为在设计之初结合了区块哈希值和零知识证明的运用，使得随机数最终是不能被任何逆推导或者预先猜出。这套随机生成算法体系在Faireum区块链中被称为零随算法(ZRA)。',
                A10: '我们有好几种不同类型的竞争对手：区块链博彩平台(包括Trueflip、Vdice、Casino.dao、FunFair等)、区块链公链/联盟链(以太坊、EOS等)和其他在线博彩平台。Faireum区块链网络将解决大多数存在于这些平台或项目中的诸如透明度、费用、性能等等所有问题。凭借现金管理和FairCash, 用户可用“真钱“进行博彩游戏。Faireum智能节点是一个用户友好的游戏中心，致力于博彩、彩票和竞猜游戏。一般用户只能在手机上下载APP或进入网页来玩。集成的B2B解决方案能够给赌场和在线游戏提供一个灵活强大的积分和在线博彩筹码系统。',
            },
            contact: {
                excerpt: '还有疑问么?联系我们，我们将以最快的速度回复您。'
            }
        }
    }
