-
    //Korean
    var i18n = {
        common: {
            language: 'Kr',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum. All rights reserved',
            privacyPolicy: '개인정보 보호정책',
            useTerms: '이용약관',
            whitelist: '화이트리스트 가입',
            whitepaper: '백서',
            back: '돌아가기',
            scroll: '스크롤',
            inputs: {
                submit: '제출',
                name: '이름',
                email: '이메일',
                message: '메시지'
            },
            titles: {
                home: 'Home',
                about: 'About',
                business: 'Business',
                problem: 'Problems',
                solution: 'Solution',
                sale: 'Token',
                roadmap: 'Roadmap',
                partners: 'Partners',
                team: 'Team',
                faq: 'FAQ',
                contact: 'Contact',
                subscribe: 'Subscribe',
            }
        },

    }
