-
    //Korean
    var i18n = {
        common: {
            language: 'Kr',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum. All rights reserved',
            privacyPolicy: '개인정보 보호정책',
            useTerms: '이용약관',
            whitelist: '화이트리스트 가입',
            whitepaper: '백서',
            back: '돌아가기',
            scroll: '스크롤',
            inputs: {
                submit: '제출',
                name: '이름',
                email: '이메일',
                message: '메시지'
            },
            titles: {
                home: 'Home',
                about: 'About',
                business: 'Business',
                problem: 'Problems',
                solution: 'Solution',
                sale: 'Token',
                roadmap: 'Roadmap',
                partners: 'Partners',
                team: 'Team',
                faq: 'FAQ',
                contact: 'Contact',
                subscribe: 'Subscribe',
            }
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: '모두를 위한 공정한 갬블링 블록체인 네트워크',
                saleBegin: '공매 개시:',
                cube1: '큐브 1',
                cube2: '큐브 2',
                cube3: '큐브 3',
                cube4: '큐브 4',
                cube5: '큐브 5',
                cube6: '큐브 6'
            },
            about: {
                whatFaireum: 'Faireum 이란',
                explainFaireum1: 'Faireum은 갬블링 업계에 초점을 맞춘 퍼블릭 블록체인과 수 많은 프로토콜로 분산되고, 저렴하며, 투명하고 안전한 베팅 및 갬블링 경험을 제공합니다.',
                explainFaireum2: 'Faireum은 Faireum 만의 토큰과 게임 컨트랙트를 사용해 이용자들에게 프리미엄급의 뛰어난 베팅 경험을 보장하며 복권, 경마, 스포츠 베팅, 카지노 갬블링, 디지털 게임 등 다양한 서비스를 제공합니다.',
                explainFaireum3: 'Faireum 노드 사용은 물론, 프로토콜과 함께 작동하는 스마트 클라이언트로 사용자에게 안전하고, 편안하며 언제나 즐길 수 있는 갬블링 경험을 선사합니다.',
                basicFramework: '기본 프레임워크',
                explainBasicFramework1: 'Faireum은 Faireum 플랫폼에 탄탄한 기술적 기반을 제공하기 위해 업계 수준의 퍼블릭 블록체인을 개발합니다.',
                explainBasicFramework2: 'Faireum 블록체인은 원장 노드, P2P 네트워킹, 스마트 컨트랙트용 가상 시스템, 토큰 보상, 지불 게이트웨이, 디지털 자산 교환 및 체인간 아토믹 스왑을 포함하는 여러 가지 토큰 분배 규정을 하나로 아우릅니다.',
                gamesOnFaireum: 'Faireum 블록체인에서 이용할 수 있는 게임',
                gamesLottery: '복권',
                gamesCasino: '카지노',
                gamesDigital: '디지털 게임',
                gamesBetting: '스포츠 베팅',
                gamesLotteryRemark: '복권은 상금을 걸고 숫자를 추첨하는 갬블링의 일종입니다.',
                gamesCasinoRemark: '카지노에서는 다양한 갬블링 활동이 이루어지며, 고객들은 운에 좌우되는 게임으로 갬블링을 합니다.',
                gamesDigitalRemark: '디지털 게임은 경기 수준에 도달한 관전 스포츠로 완벽하게 새로운 개념을 만들었습니다.',
                gamesBettingRemark: '스포츠 베팅은 스포츠 경기의 결과를 예측하고 결과에 판돈을 거는 활동을 포함합니다.'
            },
            business: {
                smartNode: 'Faireum 스마트 노드',
                explainSmartNode1: 'Faireum 스마트 노드 (FSN)은 사용자의 컴퓨터/핸드폰에서 실행되는 블록체인 노드입니다. 클라이언트로서의 지갑 기능, 서버로서의 프록시 기능을 모두 제공합니다.',
                explainSmartNode2: '노드 서비스 역할',
                explainSmartNode3: '통합 클라이언트 서비스 역할',
                explainSmartNode4: '지갑 또는 게임 센터 역할',
                explainSmartNode5: '스마트 노트 파트너 연결을 통한 스마트 교환소 역할'
            },
            problems: {
                subTitle: '베팅 업계의 이슈',
                transparency: '안전성과 투명성의 부재',
                negative: '부정적인 사회적 인식',
                unfair: '불공정한 확률',
                fees: '높은 수수료',
                security: '보안',
                tax: '세금/자금 세탁',
                transparencyRemark: '시스템/코드 설계로 인해 중앙화 시스템은 절대 리소스를 공개하지 않습니다. 따라서 외부인이 시스템 리서치에 참여하거나 시스템을 업데이트하기 까다롭습니다.',
                negativeRemark: '특히 실제 전투 게임 또는 실시간 게임에 대한 플레이어의 직접적인 경험은 불확정성과 상대방에 대한 의심입니다.',
                unfairRemark: '오늘날 대부분의 예측 변수는 온라인 갬블링 플랫폼에서 기술적으로 생성되며, 알고리즘은 투명하지 않습니다. 이런 상황은 플랫폼이 백그라운드 파라미터를 조정하는 것만으로 가짜 랜덤 넘버 또는 알고리즘을 바꿀 수 있도록 합니다.',
                feesRemark: '갬블링 플랫폼의 수익 모델은 갬블링에 부과되는 높은 수수료입니다.  이더리움, EOS 등 다른 퍼블릭 체인의 DApp에서도 이와 유사한 문제가 발생합니다.',
                securityRemark: '중앙화된 시스템은 보안을 100% 장담할 수 없으며, 고장 방지 능력을 보유하고 있지 않습니다.',
                taxRemark: '중앙화 시스템은 기술적으로 모호한 데이터와 자금 흐름을 만들어내며, 온라인 갬블링 시스템은 현지 세금 메커니즘과 일치하지 않는 경우가 많습니다. 이런 환경에서 탈세와 돈세탁은 빈번하게 일어납니다.'
            },
            solution: {
                explainSolution1: 'Faireum은 서드파티 업체가 컨센서스 메커니즘 및 FVM을 통해 액세스하기에 적합한 API를 포함하는 플랫폼 블록체인입니다. Faireum 메인 블록체인은 WSM 가상 시스템을 스마트 컨트랙트의 디폴트 런타임으로, BFT+Dpos를 컨센서스 메커니즘으로 사용합니다.',
                explainSolution2: 'Faireum 블록체인의 랜덤 넘버는 프로그램을 통해 추론할 수 있는 단순한 데이터가 아닙니다. 블록 해시 및 영지식증명과 결합된 Faireum의 랜덤 넘버 생성기는 역함수로 추론하거나 사전 계산할 수 없습니다. 이 알고리즘을 무작위 알고리즘 (ZRA)이라고 합니다.',
                explainSolution3: 'ZRA 알고리즘에 더해 Faireum 블록체인은 디지털 게임 전용 Faireum 랜덤 디지털 (FRD), 카지노 게임 전용 Faireum 랜덤 카지노 (FRCC), 스포츠 또는 퀴즈 등 실시간 결과 프리셋 전용 동적 확률 균형 지수 생성기인 Faireum 동적 베팅 (FDB)을 포함하는 다양한 랜덤 넘버 생성기 (RNG)로 사전 구성됩니다.'
            },
            sale: {
                subTitle: '토큰 공매',
                subDescription: '20억 FairCoin이 발행됩니다. Faireum 생태계가 개발되는 동안, 각 FairCoin 토큰은 이더리움 생태계의 ERC20 토큰에 1:1로 맵핑됩니다. ',
                tab1: '토큰 ICO 계획',
                tab2: '토큰 분배',
                textName: '토큰 명칭',
                textSymbol: '토큰 티커 심볼',
                textType: '토큰 유형',
                textIssuer: '토큰 발행자',
                textSupply: '최대 공급',
                textExchange: '토큰 교환',
                textPreICO: '프리 ICO 기간',
                textPubICO: 'ICO 기간',
                textRemark: '토큰 기능',
                valueName: 'Faireum 토큰',
                valueSymbol: 'FAIRC',
                valueType: 'Faireum 플랫폼 토큰',
                valueIssuer: 'Faireum 재단',
                valueSupply: '2,000,000,000 FAIRC (고정, 가치 절하 없음)',
                valueExchange: '1 ETH : 3000 FAIRC',
                valuePreICO: '2019.01.14 개시, 2 주간',
                valuePubICO: '2019.03.01 개시, 1 달간',
                valueRemark: '플랫폼 사용자간의 베팅/투자/이익 환수/수수료 지불은 Faireum 토큰 가치로 환산됩니다.',
                holderPrivate: '앤젤 (잠금기간 6개월)',
                holderPreICO: '프리 ICO',
                holderPubICO: '공개 ICO',
                holderFundingPool: '갬블링 기금 풀',
                holderTeam: '팀/개발자/고문',
                holderMarketing: '마케팅/파트너십',
                holderFounder: '설립자 (잠금기간 12개월)'
            },
            roadmap: {
                p1: '2017년 Q1-Q4',
                p2: '2018년 Q1-Q3',
                p3: '2018년 Q4',
                p4: '2019년 Q1',
                p5: '2019년 Q2',
                p6: '2019년 Q3',
                p7: '2019년 Q4',
                p8: '2020년 Q1',
                p9: '2020년 Q2',
                p10: '2020년 Q3-Q4',
                p11: '2021년 Q1',
                p1Remark1: '시장 조사, 경쟁사 분석, 프로토타입 아이디어 제시.',
                p1Remark2: '재단 설립, 법률 자문, 갬블링/복권/게임 인허가 준비.',
                p2Remark1: '개인 투자, 앤젤 펀딩 완료.',
                p2Remark2: '지적 재산권 등록.',
                p2Remark3: '백서 완성.',
                p3Remark1: '새로운 공식 웹사이트 런칭.',
                p3Remark2: '크로스 체인, ZKP 기반 RNG 등 이론적 검증.',
                p3Remark3: '이더리움에 기반한 게임 프로토콜 개발 개시.',
                p3Remark4: '코어 컨센서스 알고리즘 및 퍼블릭 체인 인프라 설계.',
                p4Remark1: '프리 ICO 및 공개 ICO.',
                p4Remark2: '[MVP]Faireum 체인 프로토타입 및 블록 익스플로러.',
                p4Remark3: '[MVP]Faireum 체인 스마트 노드 클라이언트.',
                p4Remark4: '[MVP]Faireum 프로토콜에 기반한 일부 게임 및 애플리케이션 개발.',
                p5Remark1: '거래소에 FairCoin 상장.',
                p5Remark2: 'MVP 코드 기반 Faireum 체인 테스트 네트워크 개발 개시.',
                p5Remark3: '게임 프로토콜 알파 버전 출시.',
                p5Remark4: '게임 프로토콜 알파 버전에 기반한 일부 Faireum 게임 개발.',
                p6Remark1: 'Faireum 데이터 레이어, P2P 레이어 및 컨센서스 알고리즘 개발 완료.',
                p6Remark2: 'Faireum 스마트 노드 클라이언트 개발.',
                p6Remark3: 'Faireum 게임 일부 출시.',
                p7Remark1: 'Faireum 테스트 네트워크 온라인.',
                p7Remark2: '게임 베타 버전 출시.',
                p8Remark1: 'Faireum의 주요 네트워크 기능을 테스트 네트워크 코드에 맞춰 최적화.',
                p8Remark2: 'Faireum 스마트 노드 클라이언트 개발 반복.',
                p9Remark1: 'Faireum 스마트 컨트랙트 가상 시스템 설계 및 개발.',
                p9Remark2: '내장 랜덤 넘버 코어 모듈 개발 완료.',
                p10Remark1: 'Faireum 메인체인 런칭.',
                p10Remark2: 'Faireum 스마트 노드 클라이언트 공식 버전 출시.',
                p10Remark3: '게임 컨트랙트 공식 버전 출시.',
                p10Remark4: 'Faireum ERC20 토큰 매핑 완료.',
                p11Remark1: '분권화된 게임 업계 데이터 플랫폼 구축.',
                p11Remark2: 'Faireum 갬블링 인큐베이션 기금 조성.',
                p11Remark3: '분권화된 Faireum 업계 얼라이언스 시스템 구축 개시.'
            },
            faq: {
                more: '더 많은 FAQ',
                Q1: 'Faireum이란',
                Q2: 'Faireum의 필요성',
                Q3: 'Faireum 프로토콜',
                Q4: 'Faireum이 공정성과 투명성을 보장하는 방법',
                Q5: 'Faireum의 성능',
                Q6: 'Faireum 토큰의 기능',
                Q7: 'Faireum의 스마트 컨트랙트 지원 여부',
                Q8: 'Faireum을 통한 갬블링 방법',
                Q9: 'Faireum 랜덤 넘버 생성기',
                Q10: 'Faireum의 경쟁사, 그리고 경쟁사에 대한 Faireum의 장점',
                A1: 'Faireum은 갬블링 업계에 초점을 맞춘 퍼블릭 블록체인과 수 많은 프로토콜로 분산되고, 저렴하며, 투명하고 안전한 베팅 및 갬블링 경험을 제공합니다.',
                A2: '전통적이고 중앙화된 게임 시스템은 투명성, 프로세스의 효율성, 보안, 신뢰도, 개인정보 보호와 익명성 측면에서 단점이 있습니다. 분권 게임 시스템은 이러한 이슈를 효율적으로 해결할 수 있습니다. 그러나 현재로서는 대중적인 퍼블릭 체인의 지원이 제한적이고 부족합니다. 특히 프로세스 효율성, 업계 프로토콜, 기본 기능, RNG 알고리즘. 더욱이, 자산 폐기, 게임 도중 칩 가치의 변동, 다양한 자산의 교환 등의 문제를 해결할 수 있는 방법이 없습니다. Faireum은 퍼블릭 체인의 특징인 보안과 투명성에 더해 다양한 프로토콜, 기본 기능, 다양한 알고리즘, 체인간 자산 교환, 병렬 비즈니스 확장 가능성 등 Faireum만의 고유한 기능을 통합합니다. Faireum은 게임 업계의 프로토콜에 기반한 퍼블릭 체인 생태계를 구축하고자 합니다. Faireum의 새로운 생태계는 안전하고 공정하며 프로세스의 효율성을 확보하고 칩 가치를 안정화시키며 다양한 자산을 실시간으로 교환할 수 있는 능력을 지닌 다양한 업계 모델을 지원할 수 있게 됩니다. Faireum의 퍼블릭 체인 생태계는 게임 업계에 100% 기여합니다.',
                A3: '프로토콜은 특성, 규칙 및 정의의 집합으로 이해할 수 있습니다. 프로토콜은 공통적인 일 또는 사건의 집합을 추상적으로 표현합니다. 누구나 이 기반에 토대를 두고 특정한 기능, 운영, 구현 등을 확장할 수 있습니다. 자연에서 모든 사람의 공통적인 특성이 동의를 통해 추상화되고, 각 개인의 독자적인 성격, 능력, 겉보기 등은 이러한 동의의 연장선상에 있는 것과 마찬가지입니다. Faireum에서는 이처럼 고도로 정제된 추상 프로토콜을 통해 베팅 퍼블릭 체인 생태계 전체를 구축합니다.',
                A4: '분권 퍼블릭 체인 + 프로토콜 솔루션인 Faireum은 오픈 소스 기저 프레임워크, 시스템 프레임워크와 게임 컨트랙트를 통해 게임 프로세스 도중 발생하는 상태, 데이터, 결제 정보 등이 블록체인에 기록되는 동안 전체 시스템의 공정성과 투명성을 보장합니다. 이러한 특성은 중앙화 시스템 설계보다 본질적으로 뛰어난 특성을 가집니다. 타 분권 시스템 또는 퍼블릭 체인과 비교해 Faireum은 "무작위"과 "투명성"의 표준을 따르며, 블록 생성, 컨센서스 알고리즘, 멀티 레이어 구조에서 가상 시스템 설계에 이르기까지 완전히 무작위적인 기저 체인으로 게임 업계에 최적화된 다수의 템플릿과 성능을 제공합니다. 바로 이것이 Faireum이 게임 업계에 가장 적합한 생태계인 이유입니다.',
                A5: 'Faireum의 첫 번째 버전은 메인 블록체인의 더블 레이어 디자인 및 BFT+DPOS 컨센서스 알고리즘을 통해 3000 TPS 이상의 성능을 보일 것으로 기대되고 있습니다.',
                A6: 'Faireum 토큰은 Faireum 갬블링 생태계의 주요 순환 토큰으로 사용됩니다. 기능 향상과 파트너와의 통합을 통해 Faireum 토큰은 보다 다양한 쓰임새를 갖게 됩니다.',
                A7: 'Faireum은 WASM 가상 시스템을 디폴트 스마트 컨트랙트 런타임 환경으로 통합합니다. WASM을 지원함으로써 이더리움, EOS 및 WASM에 기반한 기타 블록체인 표준을 위해 작성된 Dapp과 스마트 컨트랙트를 Faireum 프로토콜 변환 도구를 사용해 Faireum 블록체인으로 옮겨올 수 있습니다.',
                A8: 'Faireum 스마트 노드는 게임 센터 역할을 할 수 있습니다. 플레이어들은 FSN에서 게임 목록을 보고 게임을 실행/플레이 할 수 있습니다. 게임이 플레이되고 공유되면 개발자와 플레이어 모두 Faireum 블록체인에서 보상을 받게 됩니다.',
                A9: '블록 해시 및 영지식증명과 결합된 Faireum의 랜덤 넘버 생성기는 역함수로 추론하거나 사전 계산할 수 없습니다. 이 알고리즘을 무작위 알고리즘 (ZRA)이라고 합니다.',
                A10: 'Faireum의 경쟁자는 다양합니다. 블록체인 갬블링 플랫폼, 블록체인, 그리고 기타 온라인 게임. Faireum은 앞서 언급한 플랫폼에서 발생하는 이슈 대부분에 대한 솔루션을 제공합니다. 현금 관리와 FairCash를 통해 사용자는 실제 현금으로 갬블링 할 수 있습니다. FSN은 사용자 친화적인 게임 센터로 갬블링, 복권 및 추측 게임 형식에 특화되어 있습니다. 일반적인 사용자는 핸드폰에 앱을 다운로드 하거나 브라우저로 접속해 바로 갬블링을 즐길 수 있습니다. 통합 B2B 솔루션은 카지노와 온라인 게임을 위해 매우 유연한 스코어와 온라인 칩 시스템을 제공합니다.'
            },
            contact: {
                excerpt: '질문이 있으십니까? 문의사항을 남겨 주시면 빠르게 연락 드리겠습니다.'
            }
        }
    }
