-
    //繁体中文
    var i18n = {
        common: {
            language: 'Tw',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum 版權所有',
            privacyPolicy: '隱私政策',
            useTerms: '服務條款',
            whitelist: '加入白名單',
            whitepaper: '白皮書',
            back: '返回',
            scroll: '滑動',
            inputs: {
                submit: '提交',
                name: '姓名',
                email: '郵箱',
                message: '消息',
            },
            titles: {
                home: '首頁',
                about: '簡介',
                business: '業務',
                problem: '行業問題',
                solution: '解決方案',
                sale: '代幣',
                roadmap: '路線圖',
                partners: '合作夥伴',
                team: '團隊',
                faq: '常見問題',
                contact: '聯繫我們',
                subscribe: '訂閱',
            },
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: '下一代博彩行業區塊鏈公鏈解決方案',
                saleBegin: '公開發售時間:',
                cube1: '立方體1',
                cube2: '立方體2',
                cube3: '立方體3',
                cube4: '立方體4',
                cube5: '立方體5',
                cube6: '立方體6',
            },
            about: {
                whatFaireum: 'Faireum是什麼',
                explainFaireum1: 'Faireum由一條公鏈和若干協議所組成，其專注於博彩行業並提供去中心化的、低成本、透明而又安全的投注和博彩服務。',
                explainFaireum2: '在Faireum區塊鏈上，通過自有通證和智慧遊戲合約來保證用戶在彩票、賽馬投注、體育博彩和赌场遊戲中獲得優質的投注體驗。',
                explainFaireum3: '除了Faireum節點之外，智慧用戶端將與諸多協議共同為使用者提供安全、流暢的線上博彩體驗。',
                basicFramework: '基礎架構',
                explainBasicFramework1: 'Faireum開發了自己的行業級公有區塊鏈，為博彩平臺提供了堅實的技術基礎和底層支撐。',
                explainBasicFramework2: 'Faireum區塊鏈包括網路節點、P2P網路、智慧合同虛擬機器和一套權杖分發規則，包括權杖獎勵、支付閘道、數位資產交換和跨鏈原子交換。',
                gamesOnFaireum: 'Faireum區塊鏈上的遊戲',
                gamesLottery: '彩票',
                gamesCasino: '賭場',
                gamesDigital: '線上遊戲',
                gamesBetting: '體育競猜',
                gamesLotteryRemark: '彩票是博彩的一種類型，主要是通過數位組合形成的序列而確定最終的中獎結果的一種博彩方式。',
                gamesCasinoRemark: '賭場可以容納各種各樣的博彩活動和遊戲，顧客通過賭場來進行基於概率論的博彩類遊戲的賭博。',
                gamesDigitalRemark: '線上數位遊戲作為一種互聯網形式的視覺化博彩類型，已經達到了可競技級別的水準，和傳統博彩方式相比較這是一種出現時間較短的新類型。',
                gamesBettingRemark: '體育競猜包括預測體育賽事結果、各類體育賽事事件預測等，玩家可以對結果或者事件進行預測並進行下注進行博彩。',
            },
            business: {
                smartNode: 'Faireum智能節點',
                explainSmartNode1: 'Faireum智慧節點(FSN)是在用戶的電腦/手機上運行的區塊鏈節點，它可以作為用戶端的錢包、代理伺服器、遊戲中心獲取其他角色參與生態運行。',
                explainSmartNode2: '可作為區塊節點服務運行。',
                explainSmartNode3: '可作為用戶端集成應用使用。',
                explainSmartNode4: '可以用作多鏈錢包或者遊戲中心。',
                explainSmartNode5: '可以集成智慧節點合作夥伴服務或者以智慧交易所方式運行。',
            },
            problems: {
                subTitle: '博彩行業的問題',
                transparency: '缺乏安全和透明性',
                negative: '負面社會信譽',
                unfair: '賠率不公平',
                fees: '高收費',
                security: '安全性',
                tax: '稅收/洗錢',
                transparencyRemark: '從系統設計和代碼層面來說，中心化的系統往往是閉源的，外部人員很難參與系統的研發和反覆運算。',
                negativeRemark: '玩家的直接體驗:在一些玩家即時對戰類遊戲中或者實景類遊戲中，玩家對對手身份的不確定度和懷疑度普遍較高。',
                unfairRemark: '目前的許多線上博彩平臺預言機規則從技術層面完全是由博彩平臺生成，且演算法不透明，這就導致了博彩平臺/公司通過對後臺參數配置或者動態修改亂數和亂數演算法完全操控遊戲結果。',
                feesRemark: '博彩平臺的傭金模式導致了高收費。乙太坊和EOS等公鏈上發佈的博彩 Dapps 也存在類似問題。',
                securityRemark: '中心化系統既不能確保百分之百安全也不具備容錯能力。',
                taxRemark: '從技術層面來說，因為中心化的設計導致系統的資料和實際線上博彩的法幣資金流沒有明確的賬務清算。很多線上博彩在系統設計上也沒有十分明確的符合當地法律法規的稅務機制，導致許多非法避稅或者洗錢行為的產生。',
            },
            solution: {
                explainSolution1: 'Faireum是提供協力廠商API的平臺鏈，通過共識機制和FVM，協力廠商可以進入Faireum主鏈使用WASM的虛擬機器默認運行智慧合約，使用BFT+DPos混合共識作為共識機制。',
                explainSolution2: 'Faireum區塊鏈之上的亂數不單單只是可被程式推導的資料項目，因為在設計之初結合了區塊雜湊值和零知識證明的運用，使得亂數最終是不能被任何逆推導或者預先猜出。這套隨機生成演算法體系在Faireum區塊鏈中被稱為零隨演算法(ZRA)。',
                explainSolution3: '除了基本的ZRA演算法外，Faireum還預置了其他多種類型的亂數產生器(RNG)，包括專用於數位類遊戲的FRD(Faireum Random Digital),專用於賭場類遊戲的FRC(Faireum Random Casino),以及為體育競猜等即時結果預設的動態概率平衡指數生成器FDB(Faireum Dynamic Betting)等。每套內部隨機生成演算法都預定義了一套符合其上層遊戲應用層業務邏輯的規則介面，使得各類型的亂數產生規則更加符合對應遊戲類型的約束。',
            },
            sale: {
                subTitle: '代幣銷售細節',
                subDescription: 'FairCoin將發行20億代幣。在Faireum主網上線之前，乙太坊上ERC20通證形態的Faircoin將和未來主網的Faireum代幣按照1:1的比例進行等額綁定。',
                tab1: '代幣ICO計畫',
                tab2: '代幣分配',
                textName: '代幣名稱',
                textSymbol: '代幣代碼',
                textType: '代幣類型',
                textIssuer: '代幣發行方',
                textSupply: '最大供應量',
                textExchange: '代幣兌換比例',
                textPreICO: '預售ICO時間',
                textPubICO: '公開ICO時間',
                textRemark: '代幣功能',
                valueName: 'Faireum Token',
                valueSymbol: 'FAIRC',
                valueType: 'Faireum平臺代幣',
                valueIssuer: 'Faireum Foundation Limited',
                valueSupply: '2,000,000,000 FAIRC (固定，不增發)',
                valueExchange: '1 ETH : 3000 FAIRC',
                valuePreICO: '2019年01月14日開始, 持續兩周',
                valuePubICO: '2019年03月01日開始, 持續一個月',
                valueRemark: 'Faireum代幣的主要價值提現在它是Faireum生態中用戶之間的投注/投資/利潤贖回/費用支付的主要流通媒介。',
                holderPrivate: '機構私募(6個月鎖倉)',
                holderPreICO: '預售ICO',
                holderPubICO: '公開ICO',
                holderFundingPool: '獎勵資金池(非售)',
                holderTeam: '團隊/開發者/顧問',
                holderMarketing: '市場推廣/夥伴關係',
                holderFounder: '創始人(12個月鎖倉)',
            },
            roadmap: {
                p1: '2017全年',
                p2: '2018年1-3季度',
                p3: '2018年四季度',
                p4: '2019年一季度',
                p5: '2019年二季度',
                p6: '2019年三季度',
                p7: '2019年四季度',
                p8: '2020年一季度',
                p9: '2020年二季度',
                p10: '2020年3-4季度',
                p11: '2021年一季度',
                p1Remark1: '市場調查，競品分析，初代產品設計',
                p1Remark2: '基金會、法律顧問、博彩/彩票/遊戲牌照相關籌備',
                p2Remark1: '私募完成，首輪融資結束',
                p2Remark2: '智慧財產權登記',
                p2Remark3: '完成白皮書',
                p3Remark1: '新版官網上線',
                p3Remark2: '跨鏈、零知識證明隨機演算法等理論驗證',
                p3Remark3: '基於乙太坊，啟動遊戲合約協議的開發',
                p3Remark4: '核心共識演算法和公鏈底層結構設計',
                p4Remark1: '預售募資',
                p4Remark2: '公開募資',
                p4Remark3: '[MVP]Faireum雛形及區塊流覽器',
                p4Remark4: '[MVP]Faireum智能節點用戶端',
                p5Remark1: 'FairCoin上線交易所',
                p5Remark2: '基於MVP代碼開始Faireum Chain的測試網開發',
                p5Remark3: '發佈alpha版本的遊戲合約協議',
                p5Remark4: '基於alpha版本的部分Faireum Games開發',
                p6Remark1: 'Faireum底層資料層、P2P層以及共識演算法開發完成',
                p6Remark2: 'Faireum智慧節點用戶端開發',
                p6Remark3: '部分Faireum Games發佈',
                p7Remark1: 'Faireum測試網上線',
                p7Remark2: '發佈Beta版本的遊戲合約協議',
                p8Remark1: '基於測試網代碼優化Faireum主網功能',
                p8Remark2: '反覆運算開發Faireum智慧節點用戶端',
                p9Remark1: 'Faireum智慧合約虛擬機器體系設計與開發',
                p9Remark2: '內置亂數核心模組開發完成',
                p10Remark1: 'Faireum Chain主網上線',
                p10Remark2: '發佈正式版本的Faireum智能節點用戶端',
                p10Remark3: '發佈正式版本的遊戲合約協議',
                p10Remark4: '完成Faireum ERC20代幣主網映射',
                p11Remark1: '打造去中心化博彩行業資料平臺',
                p11Remark2: '成立Faireum博彩孵化基金',
                p11Remark3: '開始Faireum去中心化行業聯盟體系建設',
            },
            faq: {
                more: '更多問題',
                Q1: 'Faireum是什麼?',
                Q2: '為什麼需要Faireum?',
                Q3: 'Faireum中的協議是什麼?',
                Q4: 'Faireum怎麼保證公平性和透明性?',
                Q5: 'Faireum的性能如何?',
                Q6: 'Faireum代幣的作用?',
                Q7: 'Faireum是否支持智慧合約?',
                Q8: '怎麼進行Faireum遊戲?',
                Q9: 'Faireum的亂數產生器(RNG)演算法是什麼?',
                Q10: '主要競爭對手是哪些？有何優勢?',
                A1: 'Faireum由一條公鏈和若干協議所組成，其專注於博彩行業並提供去中心化的、低成本、透明而又安全的投注和博彩服務。',
                A2: '從透明、處理效率、安全、可靠性、私密性和匿名性上來說，傳統和中心化博彩都存在種種缺點。去中心化博彩能解決透明和隱私等多方面問題，但是目前主流公鏈在針對博彩行業的支持特性上。不論從處理效率，還是針對行業協議、基礎能力以及隨機演算法等等方面的支援力度都十分疲弱。 而針對資產的處置、設置以及博彩過程中籌碼的波動性，以及對於遊戲體驗中各類資產的交換處置並沒有很好的方案。 Faireum結合了主流公鏈安全透明等顯著特點，融入了多樣的協議、原生能力、行業演算法、跨鏈資產能力以及平行業務擴容能力等許多獨創的特性。著力打造一個基於行業協議約束的安全公正透明、處理效率極快、籌碼價值穩定、支援多種獨特行業模式並且支援各類資產即時兌換的公鏈生態體系。用以打造100%服務於博彩行業的Faireum公鏈生態。',
                A3: 'Faireum中的協定可以理解為一系列屬性、規則和定義的集合，它是一系列共性事物或事件的抽象表示，所有人都能根據這一基礎擴展具體的功能、操作、實現等。如同自然界中人類具備的共有特性便可抽象為協議，而每個個體獨立的性格、能力、外表等等都是這一協議的擴展。而Faireum中通過這些高度精煉的抽象協議，構建了整個博彩公鏈生態體系。',
                A4: 'Faireum作為一套去中心化的公鏈+協議解決方案，通過開源底層框架、系統框架以及遊戲合約保證整個體系的公平透明，而遊戲過程中的狀態、資料、結算資訊等都由區塊鏈公開帳本記錄，這些特性天生優於中心化系統的設計。而對比其他去中心化系統或公鏈，Faireum從區塊的產生、共識演算法、多層結構以及虛擬機器的設計都遵循“隨機”“透明”至上的特性，提供了一套純隨機的底層鏈和協定，並提供了許多能服務於博彩行業的範本和特性，使得Faireum成為最適合用於博彩行業的生態體系。',
                A5: '得益於Faireum的雙層鏈結構設計和主鏈中使用的BFT+DPOS混合共識演算法，Faireum首個發佈版本的性能預計將超過3000TPS。',
                A6: 'Fairuem代幣將作為我們博彩生態系統的主要流通貨幣，可以用來遊戲、購買增值服務和用於資產交換。隨著Faireum生態夥伴的不斷引入，會有更多的代幣所具備的功能和用途在Faireum生態中被提供。',
                A7: 'Faireum基於WASM體系作為虛擬機器的默認智慧合約運行環境。因為這樣一套體系，大多數基於WASM標準的(如乙太坊、EOS)DApps和智慧合約能很容易的通過Faireum協議轉換工具遷移到Faireum。',
                A8: 'Faireum智慧節點可以以遊戲中心的形式運行，用戶可以使用FSN來流覽和運行發佈于Faireum區塊鏈上的遊戲。一旦一個遊戲被用戶運行或分享，用戶和遊戲的開發者都能得到Faireum區塊鏈預設的獎勵機制的激勵。',
                A9: 'Faireum區塊鏈之上的亂數不單單只是可被程式推導的資料項目，因為在設計之初結合了區塊雜湊值和零知識證明的運用，使得亂數最終是不能被任何逆推導或者預先猜出。這套隨機生成演算法體系在Faireum區塊鏈中被稱為零隨演算法(ZRA)。',
                A10: '我們有好幾種不同類型的競爭對手：區塊鏈博彩平臺(包括Trueflip、Vdice、Casino.dao、FunFair等)、區塊鏈公鏈/聯盟鏈(乙太坊、EOS等)和其他線上博彩平臺。Faireum區塊鏈網路將解決大多數存在於這些平臺或項目中的諸如透明度、費用、性能等等所有問題。憑藉現金管理和FairCash, 用戶可用“真錢“進行博彩遊戲。Faireum智慧節點是一個用戶友好的遊戲中心，致力於博彩、彩票和競猜遊戲。一般用戶只能在手機上下載APP或進入網頁來玩。集成的B2B解決方案能夠給賭場和線上遊戲提供一個靈活強大的積分和線上博彩籌碼系統。',
            },
            contact: {
                excerpt: '還有疑問麼?聯繫我們，我們將以最快的速度回復您。'
            }
        }
    }