-
    //English
    var i18n = {
        common: {
            language: 'En',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum. All rights reserved',
            privacyPolicy: 'Privacy policy',
            useTerms: 'Terms of Use',
            whitelist: 'Join Whitelist',
            whitepaper: 'Whitepaper',
            back: 'Back',
            scroll: 'Scroll',
            inputs: {
                submit: 'Submit',
                name: 'Name',
                email: 'E-mail',
                message: 'Message',
            },
            titles: {
                home: 'Home',
                about: 'About',
                business: 'Business',
                problem: 'Problems',
                solution: 'Solution',
                sale: 'Token',
                roadmap: 'Roadmap',
                partners: 'Partners',
                team: 'Team',
                faq: 'FAQ',
                contact: 'Contact',
                subscribe: 'Subscribe',
            },
        },

    }
