-
    //繁体中文
    var i18n = {
        common: {
            language: 'Tw',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum 版權所有',
            privacyPolicy: '隱私政策',
            useTerms: '服務條款',
            whitelist: '加入白名單',
            whitepaper: '白皮書',
            back: '返回',
            scroll: '滑動',
            inputs: {
                submit: '提交',
                name: '姓名',
                email: '郵箱',
                message: '消息',
            },
            titles: {
                home: '首頁',
                about: '簡介',
                business: '業務',
                problem: '行業問題',
                solution: '解決方案',
                sale: '代幣',
                roadmap: '路線圖',
                partners: '合作夥伴',
                team: '團隊',
                faq: '常見問題',
                contact: '聯繫我們',
                subscribe: '訂閱',
            },
        },

    }