-
 //Japanese
 var i18n = {
    common: {
        language: 'Jp',
        projectName: 'Faireum',
        copyright: '© 2018-2021 Faireum. 無断複製禁止',
        privacyPolicy: 'プライバシーポリシー',
        useTerms: '利用規約',
        whitelist: 'ホワイトリストに参加する',
        whitepaper: '白書',
        back: '戻る',
        scroll: 'スクロール',
        inputs: {
            submit: '提出する',
            name: '名前',
            email: 'E-mail',
            message: 'メッセージ',
        },
        titles: {
            home: 'ホーム',
            about: 'Faireumについて',
            business: 'ビジネス',
            problem: '問題',
            solution: 'ソリューション',
            sale: 'トークン',
            roadmap: 'ロードマップ',
            partners: 'パートナー',
            team: 'チーム',
            faq: 'よくある質問 ',
            contact: 'お問い合わせ',
            subscribe: '購読する',
        }
    },
    module: {
        promo: {
            sologan1: 'Once Fair',
            sologan2: 'Always Fair',
            sologanRemark: 'みんなで公正なギャンブルブロックチェーンネットワーク',
            saleBegin: '公売開始',
            cube1: 'キューブ1',
            cube2: 'キューブ2',
            cube3: 'キューブ3',
            cube4: 'キューブ4',
            cube5: 'キューブ5',
            cube6: 'キューブ6',
        },
        about: {
            whatFaireum: 'Faireumとは',
            explainFaireum1: 'Faireumは、ギャンブル業界に焦点を当てたパブリックブロックチェーンと多くのプロトコルであり、分散化され、コストが低く、透明でかつ安全なベット及びギャンブル経験を提供します。',
            explainFaireum2: 'Faireumは、独自のトークンとゲームコントラクトを使用してユーザーに優れたプレミアムベット経験を保証し、宝くじ、競馬、スポーツギャンブル、カジノゲーム、デジタルゲームなど様々なサービスを提供します。',
            explainFaireum3: 'Faireumノードとプロトコルと一緒に動作するスマートクライアントの使用でユーザーに安全でシームレスでいつでも楽しめるギャンブル経験を与えてくれます。',
            basicFramework: '基本フレームワーク',
            explainBasicFramework1: 'Faireumは、Faireumプラットフォームに堅実な技術基盤を提供するために、業界レベルのパブリックブロックを独自開発しています。',
            explainBasicFramework2: 'Faireumブロックチェーンは、元帳ノード、P2Pネットワーキング、スマートコントラクト向けの仮想マシン、トークンの補償、支払いゲートウェイ、デジタル資産交換及びクロスチェーンアトミックスワップを含むトークン分配に関する規定を網羅しています。',
            gamesOnFaireum: 'Faireumブロックチェーンでプレイできるゲーム',
            gamesLottery: '宝くじ',
            gamesCasino: 'カジノ',
            gamesDigital: 'デジタルゲーム',
            gamesBetting: 'スポーツギャンブル',
            gamesLotteryRemark: '宝くじは、賞金を懸けて数字を引くギャンブルの一種です。',
            gamesCasinoRemark: 'カジノは、様々なギャンブル活動が行われ、顧客は運に左右されるゲームでギャンブルを行います。',
            gamesDigitalRemark: 'デジタルゲームは観戦スポーツとして競技レベルに到達し、完全に新しいコンセプトになっています。',
            gamesBettingRemark: 'スポーツギャンブルは、スポーツ競技の結果を予測し、その結果に賭ける活動を含みます。'
        },
        business: {
            smartNode: 'Faireumスマートノード',
            explainSmartNode1: 'Faireumスマートノード(FSN)は、ユーザーのコンピュータ/携帯電話から実行されるブロックチェーンノードです。クライアントとしてのウォレット機能とサーバーとしてのプロキシ機能の両方を提供します。',
            explainSmartNode2:'ノードサービスの役割',
            explainSmartNode3:'統合クライアントサービスの役割',
            explainSmartNode4:'ウォレットやゲームセンターの役割',
            explainSmartNode5:'スマートノードパートナー向け及びスマート取引所の役割', 
        }, 
        problems: { 
            subTitle:'ギャンブル業界が抱える問題',
            transparency:'安全性と透明性の欠如',
            negative:'否定的な社会的評判',
            unfair:'不公正なオッズ',
            fees:'高い手数料',
            security:'セキュリティ',
            tax:'税金/マネーロンダリング',
            transparencyRemark:'システム/コード設計によって中央集権的システムはの自らのリソースを決して公開しません。そのため、外部の人がシステムの研究に関わったりシステムのアップデートを行ったりすることは困難です。',
            negativeRemark:'実際の対戦ゲームやライブゲームでプレイヤーは不確実性と対戦相手への疑念を直接経験します。',
            unfairRemark:'今日ほどんどの予測変数のルールは、オンラインギャンブルプラットフォームから技術的に作成され、アルゴリズムは透明ではありません。そのため、プラットフォームがバックグラウンドパラメータの調整を行うだけで擬似ランダムナンバーまたはアルゴリズムの変更が可能になります。',
            feesRemark:'ギャンブルプラットフォームの収益モデルは、ギャンブルに高い手数料を課します。イーサリアムやeosなど他のパブリックチェーンのDappsも同様の問題を抱えています。',
            securityRemark:'中央集権的システムは、セキュリティの100％保証もフォールトトレランスの保有もできませんでした。',
            taxRemark:'中央集権的システムは技術的に曖昧なデータと資金フローを作ります。オンラインギャンブルシステムは、現地の税メカニズムに対応していないことが多く、脱税やマネーロンダリングが頻繁に行われます。', 
        }
    }
 }
