-
 //Japanese
 var i18n = {
    common: {
        language: 'Jp',
        projectName: 'Faireum',
        copyright: '© 2018-2021 Faireum. 無断複製禁止',
        privacyPolicy: 'プライバシーポリシー',
        useTerms: '利用規約',
        whitelist: 'ホワイトリストに参加する',
        whitepaper: '白書',
        back: '戻る',
        scroll: 'スクロール',
        inputs: {
            submit: '提出する',
            name: '名前',
            email: 'E-mail',
            message: 'メッセージ',
        },
        titles: {
            home: 'ホーム',
            about: 'Faireumについて',
            business: 'ビジネス',
            problem: '問題',
            solution: 'ソリューション',
            sale: 'トークン',
            roadmap: 'ロードマップ',
            partners: 'パートナー',
            team: 'チーム',
            faq: 'よくある質問 ',
            contact: 'お問い合わせ',
            subscribe: '購読する',
        }
    },
    module: {
        promo: {
            sologan1: 'Once Fair',
            sologan2: 'Always Fair',
            sologanRemark: 'みんなで公正なギャンブルブロックチェーンネットワーク',
            saleBegin: '公売開始',
            cube1: 'キューブ1',
            cube2: 'キューブ2',
            cube3: 'キューブ3',
            cube4: 'キューブ4',
            cube5: 'キューブ5',
            cube6: 'キューブ6',
        },
        about: {
            whatFaireum: 'Faireumとは',
            explainFaireum1: 'Faireumは、ギャンブル業界に焦点を当てたパブリックブロックチェーンと多くのプロトコルであり、分散化され、コストが低く、透明でかつ安全なベット及びギャンブル経験を提供します。',
            explainFaireum2: 'Faireumは、独自のトークンとゲームコントラクトを使用してユーザーに優れたプレミアムベット経験を保証し、宝くじ、競馬、スポーツギャンブル、カジノゲーム、デジタルゲームなど様々なサービスを提供します。',
            explainFaireum3: 'Faireumノードとプロトコルと一緒に動作するスマートクライアントの使用でユーザーに安全でシームレスでいつでも楽しめるギャンブル経験を与えてくれます。',
            basicFramework: '基本フレームワーク',
            explainBasicFramework1: 'Faireumは、Faireumプラットフォームに堅実な技術基盤を提供するために、業界レベルのパブリックブロックを独自開発しています。',
            explainBasicFramework2: 'Faireumブロックチェーンは、元帳ノード、P2Pネットワーキング、スマートコントラクト向けの仮想マシン、トークンの補償、支払いゲートウェイ、デジタル資産交換及びクロスチェーンアトミックスワップを含むトークン分配に関する規定を網羅しています。',
            gamesOnFaireum: 'Faireumブロックチェーンでプレイできるゲーム',
            gamesLottery: '宝くじ',
            gamesCasino: 'カジノ',
            gamesDigital: 'デジタルゲーム',
            gamesBetting: 'スポーツギャンブル',
            gamesLotteryRemark: '宝くじは、賞金を懸けて数字を引くギャンブルの一種です。',
            gamesCasinoRemark: 'カジノは、様々なギャンブル活動が行われ、顧客は運に左右されるゲームでギャンブルを行います。',
            gamesDigitalRemark: 'デジタルゲームは観戦スポーツとして競技レベルに到達し、完全に新しいコンセプトになっています。',
            gamesBettingRemark: 'スポーツギャンブルは、スポーツ競技の結果を予測し、その結果に賭ける活動を含みます。'
        },
        business: {
            smartNode: 'Faireumスマートノード',
            explainSmartNode1: 'Faireumスマートノード(FSN)は、ユーザーのコンピュータ/携帯電話から実行されるブロックチェーンノードです。クライアントとしてのウォレット機能とサーバーとしてのプロキシ機能の両方を提供します。',
            explainSmartNode2:'ノードサービスの役割',
            explainSmartNode3:'統合クライアントサービスの役割',
            explainSmartNode4:'ウォレットやゲームセンターの役割',
            explainSmartNode5:'スマートノードパートナー向け及びスマート取引所の役割', 
        }, 
        problems: { 
            subTitle:'ギャンブル業界が抱える問題',
            transparency:'安全性と透明性の欠如',
            negative:'否定的な社会的評判',
            unfair:'不公正なオッズ',
            fees:'高い手数料',
            security:'セキュリティ',
            tax:'税金/マネーロンダリング',
            transparencyRemark:'システム/コード設計によって中央集権的システムはの自らのリソースを決して公開しません。そのため、外部の人がシステムの研究に関わったりシステムのアップデートを行ったりすることは困難です。',
            negativeRemark:'実際の対戦ゲームやライブゲームでプレイヤーは不確実性と対戦相手への疑念を直接経験します。',
            unfairRemark:'今日ほどんどの予測変数のルールは、オンラインギャンブルプラットフォームから技術的に作成され、アルゴリズムは透明ではありません。そのため、プラットフォームがバックグラウンドパラメータの調整を行うだけで擬似ランダムナンバーまたはアルゴリズムの変更が可能になります。',
            feesRemark:'ギャンブルプラットフォームの収益モデルは、ギャンブルに高い手数料を課します。イーサリアムやeosなど他のパブリックチェーンのDappsも同様の問題を抱えています。',
            securityRemark:'中央集権的システムは、セキュリティの100％保証もフォールトトレランスの保有もできませんでした。',
            taxRemark:'中央集権的システムは技術的に曖昧なデータと資金フローを作ります。オンラインギャンブルシステムは、現地の税メカニズムに対応していないことが多く、脱税やマネーロンダリングが頻繁に行われます。', 
        }, 
        solution: { 
            explainSolution1:'Faireumは、サードパーティビジネスのプロバイダーがコンセンサスメカニズムとFVMを通じてアクセスするのに適した、APIを備えたプラットフォームブロックチェーンの一種です。Faireumのメインブロックチェーンは、スマートコントラクトのデフォルトランタイムとしてWASM仮想マシンを使用し、コンセンサスメカニズムとしてBFT＋DPosを使用します。',
            explainSolution2:'Faireumブロックチェーンからのランダムナンバーは、単にプログラムから推論できるデータだけではありません。ブロックハッシュ及びゼロ知識証明と組み合わせるとランダムナンバー生成器は、如何なる逆数によっても推論または事前推定することはできません。このアルゴリズムをゼロランダムアルゴリズム(ZRA)といいます。',
            explainSolution3:'Faireumブロックチェーンは、ZRAアルゴリズム以外にもデジタルゲーム専用のFaireumランダムデジタル(FRD)やカジノゲーム専用のFaireumランダムカジノ(FRCS)、スポーツクイズなどリアルタイムの結果のために予め設定された動的確率均衡指標生成器のFaireumダイナミックベッテング(FDB)を含む多様なランダムナンバー生成器(RNG)によって予め構成されます。', 
        }, 
        sale: { 
            subTitle:'トークン公売の詳細',
            subDescription:'20億のトークンが発行されます。Faireum生態系の初期開発段階ではFairCoinトークンはイーサリアム生態系のERC20トークンに１対１でマッピングされます。',
            tab1:'トークンICOプラン',
            tab2:'トークンの分配',
            textName:'トークン名',
            textSymbol:'トークンティッカーシンボル',
            textType:'トークンタイプ',
            textIssuer:'トークン発行者',
            textSupply:'最大供給量',
            textExchange:'トークン交換',
            textPreICO:'プレICO期間',
            textPubICO: 'ICO 期間',
            textRemark: 'トークン機能',
            valueName: 'Faireumトークン',
            valueSymbol: 'FAIRC',
            valueType: 'Faireumプラットフォームトークン',
            valueIssuer: 'Faireum財団',
            valueSupply: '2,000,000,000 FAIRC (固定、切下げなし)',
            valueExchange: '1 ETH : 3000 FAIRC',
            valuePreICO: '2019.01.14開始、2週間',
            valuePubICO: '2019.03.01開始、1ヵ月間',
            valueRemark: 'プラットフォームユーザー同士のベット/投資/利益償還/手数料支払いはFaireumトークン価値に変換されます。',
            holderPrivate: 'エンジェル(6ヵ月ロック)',
            holderPreICO: 'プレICO',
            holderPubICO: 'パブリックICO',
            holderFundingPool: 'ギャンブル基金プール(非売)',
            holderTeam: 'チーム/開発者/アドバイザー',
            holderMarketing: 'マーケティング/パートナーシップ',
            holderFounder: '設立者(12ヵ月ロック)',
        },
        roadmap: {
            p1: '2017年Q1-Q4',
            p2: '2018年Q1-Q3',
            p3: '2018年 Q4',
            p4: '2019年Q1',
            p5: '2019年Q2',
            p6: '2019年 Q3',
            p7: '2019年 Q4',
            p8: '2020年 Q1',
            p9: '2020年 Q2',
            p10: '2020年 Q3-Q4',
            p11: '2021年 Q1',
            p1Remark1: '市場調査、競争会社分析、プロトタイプのアイデア',
            p1Remark2: '財団設立、法律諮問及びギャンブル/宝くじ/ゲームライセンスの準備',
            p2Remark1: '私募、エンジェルファンディングの終了',
            p2Remark2: '知的財産権の登録',
            p2Remark3: '白書完成 ',
            p3Remark1: '新しい公式サイトの公開',
            p3Remark2: 'クロスチェーン、ZKPに基づくRNGなどの理論的検証',
            p3Remark3: 'イーサリアムに基づくゲームプロトコル開発の開始',
            p3Remark4: 'コアコンセンサスアルゴリズムとパブリックチェーンインフラの設計 ',
            p4Remark1: 'プレICOとパブリックICO.',
            p4Remark2: ' [MVP]Faireumチェーンプロトタイプとブロックエクスプローラ',
            p4Remark3: ' [MVP]Faireumチェーンスマートノードクライアント',
            p4Remark4: ' [MVP]Faireumプロトコルに基づく一部のゲームとアプリケーションの開発。',
            p5Remark1: '取引所への FairCoinの上場 ',
            p5Remark2: 'MVPコードに基づくFaireumチェーンのテストネットワーク開発の開始',
            p5Remark3: 'ゲームプロトコルのアルファ版のリリース',
            p5Remark4: 'ゲームプロトコルのアルファ版に基づく一部のFaireumゲームの開発 ',
            p6Remark1: 'Faireumデータレイヤー、P2Pレイヤー、コンセンサスアルゴリズムの開発終了',
            p6Remark2: 'Faireumスマートノードクライアントの開発',
            p6Remark3: '一部のFaireum ゲームのリリース',
            p7Remark1: 'Faireumテストネットワークオンライン',
            p7Remark2: 'ゲームのベータ版のリリース',
            p8Remark1: 'Faireumメインネットワーク機能のテストネットワークコードに応じた最適化',
            p8Remark2: 'Faireumスマートノードクライアント開発の繰り返し',
            p9Remark1: 'Faireumスマートコントラクトの仮想マシンシステムの設計及び開発',
            p9Remark2: '組込型のランダムナンバーコアモジュールの開発終了',
            p10Remark1: 'Faireumメインチェーンの公開',
            p10Remark2: 'Faireumスマートノードクライアントの公式版のリリース',
            p10Remark3: 'ゲームコントラクトの公式版のリリース',
            p10Remark4: 'Faireum ERC20トークンマッピングの終了',
            p11Remark1: '分権化されたゲーム業界のデータプラットフォームの構築',
            p11Remark2: 'Faireumギャンブルインキュベーション基金の造成',
            p11Remark3: 'Faireumの分権化された業界アライアンス構築の開始',
        },
        faq: {
            more: 'もっと知りたいよくある質問',
            Q1: 'Faireumとは',
            Q2: 'Faireumの必要性',
            Q3: 'Faireumのプロトコル',
            Q4: 'Faireum が公正性と透明性を保証する方法',
            Q5: 'Faireumのパフォーマンス',
            Q6: 'Faireumトークンの機能',
            Q7: 'Faireumのスマートコントラクトに対するサポート',
            Q8: 'Faireumでゲームをプレイする',
            Q9: 'Faireumのランダムナンバー生成器',
            Q10: 'Faireumの競争会社、 Faireumの利点',
            A1: 'Faireumは、ギャンブル業界に焦点を当てたパブリックブロックチェーンと多くのプロトコルであり、分散化され、コストが低く、透明でかつ安全なベット及びギャンブル経験を提供します。',
            A2: '伝統的で中央集権的なゲームシステムは透明性、プロセスの効率、セキュリティ、信頼性、プライバシー及び匿名性の面で欠点があります。分権化されたゲームシステムはこれらの問題を効率よく回避できます。しかし現在は大衆的なパブリックチェーンからのサポートはプロセスの効率、業界プロトコル、基礎能力及びRNGアルゴリズムなどの面で限定され、不十分なものとなっています。さらに、資産放棄、ゲーム中のチップ価値の変動、多様な資産の交換などの問題の良い解決策がありません。Faireumはパブリックチェーンの特徴であるセキュリティと透明性に加え、多様なプロトコル、基本能力、多様なアルゴリズム、チェーン間の資産交換、並列ビジネスの拡張可能性などFaireumにおける固有の機能を統合します。Faireumはゲーム業界のプロトコルに基づくパブリックチェーン生態系を構築しようとしています。Faireumの新しい生態系は安全で、公正で、プロセスの効率がよく、チップの価値が安定し、多様な資産をリアルタイムで交換できる能力を持った様々な業界モデルをサポートできます。Faireumパブリックチェーン生態系はゲーム業界に100％貢献することになります。',
            A3: 'プロトコルは、属性、規則、定義の集合として理解できます。それは、共通する物または事象の集合を抽象的に表現します。誰でもこの基盤に基づいて特定の機能、運用、具現化などを拡張することができます。自然における人間に共通する特性は合意によって抽象化され、個々人のそれぞれの性格、能力、外見などはこの合意の延長線上にあるのと同様です。Faireumはこのように高度に精密な抽象的プロトコルを通じてギャンブルパブリックチェーン生態系全体を構築します。',
            A4: '分権化されたパブリックチェーン＋プロトコルソリューションであるFaireumは、オープンソース基盤のフレームワーク、システムフレームワークとゲームコントラクトを通じて、ゲームプロセス中に起こりかねない状態、データ及び決済情報などがブロックチェーンに記録される間に、システム全体の公正性と透明性を保証します。これらの特性は本質的に中央集権的システムの設計より優れています。他の分権化されたシステムやパブリックチェーンに比べてFaireumは「ランダム』と「透明性」の標準に従い、ブロック生成、コンセンサスアルゴリズム、マルチレイヤー構造から仮想マシン設計まで完全にランダムな基底チェーンであり、ゲーム業界に最適化された多くのテンプレートと機能を提供します。それがFaireumがゲーム業界に最も適しているゆえんです。',
            A5: 'Faireumの最初のバージョンのパフォーマンスは、メインブロックチェーンの二重レイヤー設計とBFT＋DPOSコンセンサスアルゴリズムによって3000 TPS以上になると予想されています。',
            A6: 'FaireumトークンはFaireumギャンブル生態系の主な循環トークンとして使用されます。機能の向上とパートナーとの協力により、Faireumトークンの適用はさらに広がります。',
            A7: 'Faireumは、WASM仮想マシンをデフォルトのスマートコントラクトランタイム環境に統合します。WASMのサポートにより、イーサリアム、EOS及びWASMに基づく他のブロックチェーン標準向けに作成されたDAppsとスマートコントラクトのほとんどは、Faireumのプロトコル変換ツールを用いてFaireumブロックチェーンに簡単に移動させることができます。',
            A8: 'Faireumスマートノードはゲームセンターの役割を果たすことができます。プレイヤーはFSNからゲームリストを閲覧し、ゲームをスタート/プレイすることができます。ゲームがプレイされ共有されると、開発者とプレーヤーのいずれもFaireumブロックチェーンから補償を受けます。',
            A9: 'ブロックハッシュ及びゼロ知識証明と組み合わせるとランダムナンバー生成器は、如何なる逆数によっても推論または事前推定することはできません。このアルゴリズムをゼロランダムアルゴリズム(ZRA)といいます。',
            A10: 'Faireumの競争相手はブロックチェーンギャンブルプラットフォーム(Trueflip、Vdice、Casino.dao、FunFairを含む)、ブロックチェーン(イーサリアム、エンタープライズオペレーションシステムを含む)及びその他のオンラインゲームなど多岐にわたります。Faireumは、上記のプラットフォームが抱えるほとんどの問題についてソリューションを提供します。現金管理とFairCashを通じて、ユーザーはリアルマネーでギャンブルをすることができます。FSNはユーザーフレンドリーなゲームセンターで、ギャンブル、宝くじ、推測ゲームフォーマットに特化しています。平均的なユーザーは携帯電話にアプリをダウンロードするかブラウザを通じてアクセスすると即座にギャンブルを楽しむことができます。統合B2Bソリューションは、カジノやオンラインゲームにとって非常に柔軟なスコアとオンラインチップシステムを提供します。'
        },
        contact: {
            excerpt: '何かご質問がありましたらお問い合わせください。'
        }
    }
 }
