-
    //繁体中文
    var i18n = {
        common: {
            language: 'Tw',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum 版權所有',
            privacyPolicy: '隱私政策',
            useTerms: '服務條款',
            whitelist: '加入白名單',
            whitepaper: '白皮書',
            back: '返回',
            scroll: '滑動',
            inputs: {
                submit: '提交',
                name: '姓名',
                email: '郵箱',
                message: '消息',
            },
            titles: {
                home: '首頁',
                about: '簡介',
                business: '業務',
                problem: '行業問題',
                solution: '解決方案',
                sale: '代幣',
                roadmap: '路線圖',
                partners: '合作夥伴',
                team: '團隊',
                faq: '常見問題',
                contact: '聯繫我們',
                subscribe: '訂閱',
            },
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: '下一代博彩行業區塊鏈公鏈解決方案',
                saleBegin: '公開發售時間:',
                cube1: '立方體1',
                cube2: '立方體2',
                cube3: '立方體3',
                cube4: '立方體4',
                cube5: '立方體5',
                cube6: '立方體6',
            },
            about: {
                whatFaireum: 'Faireum是什麼',
                explainFaireum1: 'Faireum由一條公鏈和若干協議所組成，其專注於博彩行業並提供去中心化的、低成本、透明而又安全的投注和博彩服務。',
                explainFaireum2: '在Faireum區塊鏈上，通過自有通證和智慧遊戲合約來保證用戶在彩票、賽馬投注、體育博彩和赌场遊戲中獲得優質的投注體驗。',
                explainFaireum3: '除了Faireum節點之外，智慧用戶端將與諸多協議共同為使用者提供安全、流暢的線上博彩體驗。',
                basicFramework: '基礎架構',
                explainBasicFramework1: 'Faireum開發了自己的行業級公有區塊鏈，為博彩平臺提供了堅實的技術基礎和底層支撐。',
                explainBasicFramework2: 'Faireum區塊鏈包括網路節點、P2P網路、智慧合同虛擬機器和一套權杖分發規則，包括權杖獎勵、支付閘道、數位資產交換和跨鏈原子交換。',
                gamesOnFaireum: 'Faireum區塊鏈上的遊戲',
                gamesLottery: '彩票',
                gamesCasino: '賭場',
                gamesDigital: '線上遊戲',
                gamesBetting: '體育競猜',
                gamesLotteryRemark: '彩票是博彩的一種類型，主要是通過數位組合形成的序列而確定最終的中獎結果的一種博彩方式。',
                gamesCasinoRemark: '賭場可以容納各種各樣的博彩活動和遊戲，顧客通過賭場來進行基於概率論的博彩類遊戲的賭博。',
                gamesDigitalRemark: '線上數位遊戲作為一種互聯網形式的視覺化博彩類型，已經達到了可競技級別的水準，和傳統博彩方式相比較這是一種出現時間較短的新類型。',
                gamesBettingRemark: '體育競猜包括預測體育賽事結果、各類體育賽事事件預測等，玩家可以對結果或者事件進行預測並進行下注進行博彩。',
            },
            business: {
                smartNode: 'Faireum智能節點',
                explainSmartNode1: 'Faireum智慧節點(FSN)是在用戶的電腦/手機上運行的區塊鏈節點，它可以作為用戶端的錢包、代理伺服器、遊戲中心獲取其他角色參與生態運行。',
                explainSmartNode2: '可作為區塊節點服務運行。',
                explainSmartNode3: '可作為用戶端集成應用使用。',
                explainSmartNode4: '可以用作多鏈錢包或者遊戲中心。',
                explainSmartNode5: '可以集成智慧節點合作夥伴服務或者以智慧交易所方式運行。',
            },
            problems: {
                subTitle: '博彩行業的問題',
                transparency: '缺乏安全和透明性',
                negative: '負面社會信譽',
                unfair: '賠率不公平',
                fees: '高收費',
                security: '安全性',
                tax: '稅收/洗錢',
                transparencyRemark: '從系統設計和代碼層面來說，中心化的系統往往是閉源的，外部人員很難參與系統的研發和反覆運算。',
                negativeRemark: '玩家的直接體驗:在一些玩家即時對戰類遊戲中或者實景類遊戲中，玩家對對手身份的不確定度和懷疑度普遍較高。',
                unfairRemark: '目前的許多線上博彩平臺預言機規則從技術層面完全是由博彩平臺生成，且演算法不透明，這就導致了博彩平臺/公司通過對後臺參數配置或者動態修改亂數和亂數演算法完全操控遊戲結果。',
                feesRemark: '博彩平臺的傭金模式導致了高收費。乙太坊和EOS等公鏈上發佈的博彩 Dapps 也存在類似問題。',
                securityRemark: '中心化系統既不能確保百分之百安全也不具備容錯能力。',
                taxRemark: '從技術層面來說，因為中心化的設計導致系統的資料和實際線上博彩的法幣資金流沒有明確的賬務清算。很多線上博彩在系統設計上也沒有十分明確的符合當地法律法規的稅務機制，導致許多非法避稅或者洗錢行為的產生。',
            }
        }
    }