-
    //English
    var i18n = {
        common: {
            language: 'En',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum. All rights reserved',
            privacyPolicy: 'Privacy policy',
            useTerms: 'Terms of Use',
            whitelist: 'Join Whitelist',
            whitepaper: 'Whitepaper',
            back: 'Back',
            scroll: 'Scroll',
            inputs: {
                submit: 'Submit',
                name: 'Name',
                email: 'E-mail',
                message: 'Message',
            },
            titles: {
                home: 'Home',
                about: 'About',
                business: 'Business',
                problem: 'Problems',
                solution: 'Solution',
                sale: 'Token',
                roadmap: 'Roadmap',
                partners: 'Partners',
                team: 'Team',
                faq: 'FAQ',
                contact: 'Contact',
                subscribe: 'Subscribe',
            },
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: 'A Fair Gambling Blockchain Network for All',
                saleBegin: 'Public Sale Begins:',
                cube1: 'Cube 1',
                cube2: 'Cube 2',
                cube3: 'Cube 3',
                cube4: 'Cube 4',
                cube5: 'Cube 5',
                cube6: 'Cube 6',
            },
            about: {
                whatFaireum: 'What is Faireum',
                explainFaireum1: 'Faireum is a public blockchain and a set of protocols which focus on the gambling industry and provides a decentralized, low cost, transparent and secure betting and gambling experience.',
                explainFaireum2: 'Faireum uses its own token,game contract to guarantee to its users a superb and premium betting experience and services in lottery,horse betting,sports betting,casino games and digital games,etc.',
                explainFaireum3: 'As well as to use a Faireum node,a smart client which works together with the protocols to giving the user a safe,seamless,always-online experience to play all the games they would like to.',
                basicFramework: 'Basic Framework',
                explainBasicFramework1: 'Faireum develops its own industry level public blockchain to provide a solid technological basis for our platform.',
                explainBasicFramework2: 'The Faireum blockchain encompasses the ledger nodes, P2P networking, a virtual machine for Smart Contract and a set of rules for the token distribution, which includes the token reward, payment gateway, digital asset exchange and cross chain atomic swap.',
                gamesOnFaireum: 'Games on Faireum Blockchain',
                gamesLottery: 'Lottery',
                gamesCasino: 'Casino',
                gamesDigital: 'Digital Games',
                gamesBetting: 'Sports Betting',
                gamesLotteryRemark: 'A lottery is a type of gambling where numbers are drawn for a prize.',
                gamesCasinoRemark: 'A casino accommodates a variety of gambling activities, customers gamble by playing games of chance.',
                gamesDigitalRemark: 'Digital games having reached a competitive level as a spectator sport is an entirely new concept.',
                gamesBettingRemark: 'Sports betting involves predicting the results of a sporting event and placing a wager on its outcome.',
            },
            business: {
                smartNode: 'Smart Node in Faireum',
                explainSmartNode1: 'The Faireum Smart Node(FSN) is a blockchain node running on the user\'s computer/phone, which can provide both wallet function as a client and proxy function as a server.',
                explainSmartNode2: 'Working as a Node Service.',
                explainSmartNode3: 'Working as a Client Service integration.',
                explainSmartNode4: 'Working as a wallet or a game center.',
                explainSmartNode5: 'Work for Smart Node Partners and Work as Smart Exchange',
            },
            problems: {
                subTitle: 'Problems of the Betting Industry',
                transparency: 'Lack of safety and transparency',
                negative: 'Negative social reputation',
                unfair: 'Unfair odds',
                fees: 'High fees',
                security: 'Security',
                tax: 'Tax/Money laundering',
                transparencyRemark: 'Due to system/code designs, the centralized system never show his resources and it is difficult for the outsiders involving in the research and update the system.',
                negativeRemark: 'The direct experience of the players, especially for those in actual combat game or live game, is the strong feeling of uncertainty and the doubt on the counterparty.',
                unfairRemark: 'Nowadays, the rule of the most predictors is created by on-line gambling platforms on technology level, moreover the algorithm is not transparent. Those enable the platform to change the pseudo-random number or algorithm through adjustment of background parameter.',
                feesRemark: 'The profit model of gambling platforms makes high fees for gambling.Some Dapps on other public chain such as ethereum and eos also has same problems.',
                securityRemark: 'Centralized system could neither assure the security hundred percent nor possess the fault tolerance.',
                taxRemark: 'Technically the centralized system generates the ambiguous data and the fund flow. Meanwhile lots of the on-line gambling system do not accord with the local tax mechanism. Tax evasion and money laundering is breeding.',
            }
        }
    }
