-
 //Japanese
 var i18n = {
    common: {
        language: 'Jp',
        projectName: 'Faireum',
        copyright: '© 2018-2021 Faireum. 無断複製禁止',
        privacyPolicy: 'プライバシーポリシー',
        useTerms: '利用規約',
        whitelist: 'ホワイトリストに参加する',
        whitepaper: '白書',
        back: '戻る',
        scroll: 'スクロール',
        inputs: {
            submit: '提出する',
            name: '名前',
            email: 'E-mail',
            message: 'メッセージ',
        },
        titles: {
            home: 'ホーム',
            about: 'Faireumについて',
            business: 'ビジネス',
            problem: '問題',
            solution: 'ソリューション',
            sale: 'トークン',
            roadmap: 'ロードマップ',
            partners: 'パートナー',
            team: 'チーム',
            faq: 'よくある質問 ',
            contact: 'お問い合わせ',
            subscribe: '購読する',
        }
    },

 }
