-
    //简体中文
    var i18n = {
        common: {
            language: 'Cn',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum 版权所有',
            privacyPolicy: '隐私政策',
            useTerms: '服务条款',
            whitelist: '加入白名单',
            whitepaper: '白皮书',
            back: '返回',
            scroll: '滑动',
            inputs: {
                submit: '提交',
                name: '姓名',
                email: '邮箱',
                message: '消息',
            },
            titles: {
                home: '首页',
                about: '简介',
                business: '业务',
                problem: '行业问题',
                solution: '解决方案',
                sale: '代币',
                roadmap: '路线图',
                partners: '合作伙伴',
                team: '团队',
                faq: '常见问题',
                contact: '联系我们',
                subscribe: '订阅',
            },
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: '下一代博彩行业公链解决方案',
                saleBegin: '公开发售时间:',
                cube1: '立方体1',
                cube2: '立方体2',
                cube3: '立方体3',
                cube4: '立方体4',
                cube5: '立方体5',
                cube6: '立方体6',
            },
            about: {
                whatFaireum: 'Faireum是什么',
                explainFaireum1: 'Faireum由一条公链和若干协议所组成，其专注于博彩行业并提供去中心化的、低成本、透明而又安全的投注和博彩服务。',
                explainFaireum2: '在Faireum区块链上，通过自有通证和智能游戏合约来保证用户在彩票、赛马投注、体育博彩和赌场游戏中获得优质的投注体验。',
                explainFaireum3: '除了Faireum节点之外，智能客户端将与诸多协议共同为用户提供安全、流畅的在线博彩体验。',
                basicFramework: '基础架构',
                explainBasicFramework1: 'Faireum开发了自己的行业级公有区块链，为博彩平台提供了坚实的技术基础和底层支撑。',
                explainBasicFramework2: 'Faireum区块链包括网络节点、P2P网络、智能合同虚拟机和一套令牌分发规则，包括令牌奖励、支付网关、数字资产交换和跨链原子交换。',
                gamesOnFaireum: 'Faireum区块链上的游戏',
                gamesLottery: '彩票',
                gamesCasino: '赌场',
                gamesDigital: '在线游戏',
                gamesBetting: '体育竞猜',
                gamesLotteryRemark: '彩票是博彩的一种类型，主要是通过数字组合形成的序列而确定最终的中奖结果的一种博彩方式。',
                gamesCasinoRemark: '赌场可以容纳各种各样的博彩活动和游戏，顾客通过赌场来进行基于概率论的博彩类游戏的赌博。',
                gamesDigitalRemark: '在线数字游戏作为一种互联网形式的可视化博彩类型，已经达到了可竞技级别的水平，和传统博彩方式相比较这是一种出现时间较短的新类型。',
                gamesBettingRemark: '体育竞猜包括预测体育赛事结果、各类体育赛事事件预测等，玩家可以对结果或者事件进行预测并进行下注进行博彩。',
            },

        }
    }
