-
    //Korean
    var i18n = {
        common: {
            language: 'Kr',
            projectName: 'Faireum',
            copyright: '© 2018-2021 Faireum. All rights reserved',
            privacyPolicy: '개인정보 보호정책',
            useTerms: '이용약관',
            whitelist: '화이트리스트 가입',
            whitepaper: '백서',
            back: '돌아가기',
            scroll: '스크롤',
            inputs: {
                submit: '제출',
                name: '이름',
                email: '이메일',
                message: '메시지'
            },
            titles: {
                home: 'Home',
                about: 'About',
                business: 'Business',
                problem: 'Problems',
                solution: 'Solution',
                sale: 'Token',
                roadmap: 'Roadmap',
                partners: 'Partners',
                team: 'Team',
                faq: 'FAQ',
                contact: 'Contact',
                subscribe: 'Subscribe',
            }
        },
        module: {
            promo: {
                sologan1: 'Once Fair',
                sologan2: 'Always Fair',
                sologanRemark: '모두를 위한 공정한 갬블링 블록체인 네트워크',
                saleBegin: '공매 개시:',
                cube1: '큐브 1',
                cube2: '큐브 2',
                cube3: '큐브 3',
                cube4: '큐브 4',
                cube5: '큐브 5',
                cube6: '큐브 6'
            },
            about: {
                whatFaireum: 'Faireum 이란',
                explainFaireum1: 'Faireum은 갬블링 업계에 초점을 맞춘 퍼블릭 블록체인과 수 많은 프로토콜로 분산되고, 저렴하며, 투명하고 안전한 베팅 및 갬블링 경험을 제공합니다.',
                explainFaireum2: 'Faireum은 Faireum 만의 토큰과 게임 컨트랙트를 사용해 이용자들에게 프리미엄급의 뛰어난 베팅 경험을 보장하며 복권, 경마, 스포츠 베팅, 카지노 갬블링, 디지털 게임 등 다양한 서비스를 제공합니다.',
                explainFaireum3: 'Faireum 노드 사용은 물론, 프로토콜과 함께 작동하는 스마트 클라이언트로 사용자에게 안전하고, 편안하며 언제나 즐길 수 있는 갬블링 경험을 선사합니다.',
                basicFramework: '기본 프레임워크',
                explainBasicFramework1: 'Faireum은 Faireum 플랫폼에 탄탄한 기술적 기반을 제공하기 위해 업계 수준의 퍼블릭 블록체인을 개발합니다.',
                explainBasicFramework2: 'Faireum 블록체인은 원장 노드, P2P 네트워킹, 스마트 컨트랙트용 가상 시스템, 토큰 보상, 지불 게이트웨이, 디지털 자산 교환 및 체인간 아토믹 스왑을 포함하는 여러 가지 토큰 분배 규정을 하나로 아우릅니다.',
                gamesOnFaireum: 'Faireum 블록체인에서 이용할 수 있는 게임',
                gamesLottery: '복권',
                gamesCasino: '카지노',
                gamesDigital: '디지털 게임',
                gamesBetting: '스포츠 베팅',
                gamesLotteryRemark: '복권은 상금을 걸고 숫자를 추첨하는 갬블링의 일종입니다.',
                gamesCasinoRemark: '카지노에서는 다양한 갬블링 활동이 이루어지며, 고객들은 운에 좌우되는 게임으로 갬블링을 합니다.',
                gamesDigitalRemark: '디지털 게임은 경기 수준에 도달한 관전 스포츠로 완벽하게 새로운 개념을 만들었습니다.',
                gamesBettingRemark: '스포츠 베팅은 스포츠 경기의 결과를 예측하고 결과에 판돈을 거는 활동을 포함합니다.'
            },

        }
    }
