include common/pug/i18n_cn
include common/pug/variables
doctype html
html(lang='zh_CN')
  include common/pug/head
  body
    include components/sections/header/header
    include components/blocks/scroll/scroll
    include components/blocks/navigation/navigation
    
    main.main
      canvas#promoParticles

      include components/sections/promo/promo

      include components/sections/about/about

    include components/sections/footer/footer
    include components/blocks/popups/popup
    include common/pug/scripts